<footer style="width: 350px; margin: 0 auto;">
  <div class="shipping">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2 style="font-size : 1.1rem; font-weight: 600; line-height: 1.1rem">Shopping Made Easy</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="shipping-box">
      <div class="element">Various Goods </div>
      <div class="element">30 Day Returns</div>
      <div class="element">Fast shipping</div>
      <div class="element">Quality Guaranteed</div>
    </div>
  </div>

  <div class="main-wrapper">
    <div class="footer">
      <div>
        <ul>
          <li>
            <h4>About Orcasmart</h4>
          </li>
          <li>
            <!-- <a href=""> -->
            Our Story
            <!-- </a> -->
          </li>
          <li>
            <!-- <a href=""> -->
            Affiliates & Partners
            <!-- </a> -->
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Customer Services</h4>
          </li>
          <li>
            <!-- <a href=""> -->
            Contact Us
            <!-- </a> -->
          </li>
          <li>
            <!-- <a href=""> -->
            Delivery Information
            <!-- </a> -->
          </li>
          <li>
            <!-- <a href=""> -->
            Help
            <!-- </a> -->
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Terms & Conditions</h4>
          </li>
          <li>
            <!-- <a href=""> -->
            Cookie Information
            <!-- </a> -->
          </li>
          <li>
            <!-- <a href=""> -->
            Privacy Policy
            <!-- </a> -->
          </li>
          <li>
            <!-- <a href=""> -->
            Returns Policy
            <!-- </a> -->
          </li>
          <li>
            <!-- <a href=""> -->
            Terms & Conditions
            <!-- </a> -->
          </li>
        </ul>
      </div>

      <div class="copyright">
        <p>© 2018 Orcasmart</p>
      </div>
    </div>
  </div>
</footer>