<!-- <div class="request-info">
    <div class="bg-write">
        <img src="assets/images/universe.png" style="height: 60px; width: 100%; opacity: 1.0;">
    </div>
    <div class="bg-blue">
        <div  class="product-picture">
            <img  src="assets/images/bottle.png">
        </div>
    
        <div class="item-name">
            <span class="product-name"><b>name</b></span><br>
            <span style="font-size: 13px;" class="description">this is headline</span>
        </div>
    </div>

    <div class="prodcut-image">
      <mat-card>
            <div class="multi-pictures"><b>Product Images</b></div>
            <div class="multi-pictures-loop">
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
            </div>
        </mat-card>
    </div>

    <div class="product-info">
        <mat-card>
            <div class="matcard-title"><b>Product Info</b></div>
            <div class="product-content">
                <div class="item-content">
                    <span class="item-title">Material</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">Style</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">Weight</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">Capacity</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">length</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">Height</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">Width</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">Finish</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title">Punt</span>
                    <span class="item-value">value</span>
                </div>
            </div>
        </mat-card>
    </div>

  <div class="questions">
        <mat-card>
            <div class="matcard-title"><b>Question</b></div>
            <div class="question-container">
                <div class="question-container">
                    <div class="question-item">
                        <div class="item-content">Is this for customer's new Brand or Exsisting Brand?</div>
                        <div class="item-value">Yes</div>
                    </div>
                    <div class="question-item">
                        <div class="item-content">What is Customer's order quantity?</div>
                        <div class="item-value">10,000</div>
                    </div>
                    <div class="question-item">
                            <div class="item-content">What is Customer's Annual order quantity?</div>
                        <div class="item-value">90,000</div>
                    </div>
                    <div class="question-item">
                        <div class="item-content">How soon will customer place order?</div>
                        <div class="item-value">One Month</div>
                    </div>
                    <div class="question-item">
                        <div class="item-content">Does Customer need Payment term?(Do not suggest)</div>
                        <div class="item-value">Yes</div>
                    </div>
                    <div class="question-item">
                        <div class="item-content">Does Customer require us to stock for them?</div>
                        <div class="item-value">Yes</div>
                    </div>
                    <div class="question-item">
                            <div class="item-content">What is Customer's Packing Requiremnets?</div>
                        <div class="item-value">10 piece in one case</div>
                    </div>
                    <div class="question-item">
                        <div class="item-content">What industrial will this item use for?</div>
                        <div class="item-value">Do not know!</div>
                    </div>
                </div>
            </div>
        </mat-card>
  </div>

  <div class="notes">
    <mat-card>
    <div class="matcard-title"><b>Notes</b> <b style="position:absolute;right:15px;" >+</b></div>
    </mat-card>
  </div>

  <div class="documents">
    <mat-card>
        <div class="matcard-title"><b>Documents</b>  <b style="position:absolute;right:15px;" >+</b></div>
    </mat-card>
  </div>

</div> -->

<mat-card *ngIf="!isLoading" class="request_info">

    <div *ngFor="let field of customizedFieldName" >
        <mat-form-field>
            <input matInput placeholder="{{field?.column_name}}" >
        </mat-form-field>
    </div>
</mat-card>

<div *ngIf="isLoading"><app-spinner></app-spinner></div>


