<mat-form-field class="chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let email of emailList" [selectable]="selectable"
            [removable]="removable" (remove)="remove(email)">
      {{email}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Please input to search"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          [matAutocomplete]="auto" 
          [formControl]="emailCtrl" #personInput/>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event)">
      <i class="material-icons arrow-guide"> keyboard_arrow_down </i>
      <mat-option *ngFor="let email of filteredEmails" [value]="email.email">
              <span *ngIf="email?.avatar_url"><img  [src]="email?.avatar_url" height="30" style="display:inline-block;margin-bottom: -8px"> {{email?.email}}</span>
              <span *ngIf="!email?.avatar_url"><img  src="assets/images/testimg/company-icon.png" height="30" style="display:inline-block;margin-bottom: -8px"> {{email?.email}}</span>
      </mat-option>
      <i class="material-icons arrow-guide">keyboard_arrow_up</i>
    
  </mat-autocomplete>
</mat-form-field>

<!-- <mat-form-field class="chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let email of emailList" [selectable]="selectable"
            [removable]="removable" (remove)="remove(email)">
      {{email}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Press Select user as the project's owner"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          [matAutocomplete]="auto" 
          [formControl]="emailCtrl" #personInput/>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" 
                (optionSelected)="selectOption($event)">
    <mat-option *ngFor="let user of filteredEmails" [value]="user.email">
      <span>{{ user.email }}</span>
    </mat-option>
  </mat-autocomplete>   
</mat-form-field> -->

<!-- <form [formGroup]="assignForm" >
    <div class="row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" formControlName="require_date">
        </div>
    </div>
</form> -->

<form class="note-complete-time" [formGroup]="assignForm">
  <div class="row">
    <div class="require-date">
        Require Date
        <input type="Date" [formControl]="requireDateCtrl" required/>
    </div>
  </div>
    <div class="duration-time">
        Duration Time 
        <input type="text" formControlName="duration_time" [(ngModel)]="newDurationTime" disabled required/>
    </div>
    <div class="update-frequency">
      Update Frequency
      <select formControlName="update_frequency" required>
          <option value="onetime">One Time</option>          
          <option value="daily">Daily</option>
          <option value="weekly">Weekly</option>
          <option value="biweekly">Biweekly</option>
          <option value="monthly">Monthly</option>
          <option value="quarterly">Quarterly</option>
      </select>
    </div>
  </form>

<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>


