mat-card {
    // margin-top: 2%;
    text-align: center;
    mat-form-field {
        width: 90%;
    }
    .share-user-container {
        width: 22%;
        float: right;
        margin-left: 3px;
        margin-top: 14px; // text-align: center;
    }
}