<div *ngIf="!isLoading">
    <mat-form-field  class="select-company" *ngIf="currentCustomer&&currentQuoteInfo">
            <input  type="input" matInput  placeholder="Company Name"  name="comapny name" [matAutocomplete]="auto" [formControl]="companyNameCtrl" [(ngModel)]="currentCustomer.name" required>
            <mat-autocomplete #auto= matAutocomplete>
                <mat-option *ngFor="let company of companyNameList" [value]="company?.name" (click)="companySlected(company)">
                    <span *ngIf="company?.logo_url"><img  [src]="company?.logo_url" height="30" style="display:inline-block;margin-bottom: -8px"> {{company?.name}}</span>
                    <span *ngIf="!company?.logo_url"><img  src="assets/images/testimg/company-icon.png" height="30" style="display:inline-block;margin-bottom: -8px"> {{company?.name}}</span>
                </mat-option>
            </mat-autocomplete>
    </mat-form-field>

    <div class="quote-header">
        <mat-card>
            <div class="sales-entity-header">
                <b *ngIf="salesEntityType == 'Add Quote'">Quote</b><span class="sub-header"  *ngIf="salesEntityType == 'Add Quotes'">*Not an Invoice </span>
                <b *ngIf="salesEntityType == 'Add SalesOrder'">SalesOrder</b><span class="sub-header"  *ngIf="salesEntityType == 'Add SalesOrders'">*Not an Invoice </span>
                <b *ngIf="salesEntityType == 'Add Invoice'">Invoice</b>
            </div>
            <span>Data: {{currentformDate()}}</span><br>
            <span >Valid Till: {{customEndDate()}}</span>
        </mat-card>
    </div>
    
    <div class="addresses" *ngIf="currentCustomer&&currentQuoteInfo">
        <div>
            <div class="current-company-address">
                <mat-card>
                    <h5>Bill To: <i style="font-size:16px; color:green; float: right; padding:3px 5px;" class="material-icons" (click)="openBillingAddressModal()">edit</i></h5>
                    <h5>{{currentCustomer?.name}}</h5>
                    <div *ngIf="!billingAddress">
                        <span>{{billingAddressSelected?.street1}}</span>
                        <span>{{billingAddressSelected?.city}}, {{billingAddressSelected?.state}}, {{billingAddressSelected?.zipcode}},{{billingAddressSelected?.country}}</span>
                    </div>
                    <div *ngIf="billingAddress">
                        <span>{{billingAddress?.street1}}</span>
                        <span>{{billingAddress?.city}}, {{billingAddress?.state}}, {{billingAddress?.zipcode}},{{billingAddress?.country}}</span>
                    </div>
                </mat-card>
            </div>
        </div>
        
        <div>
            <div class="current-customer">
                <mat-card>
                    <h5>Ship To: <i style="font-size:16px; color:green; float: right; padding:3px 5px;" class="material-icons" (click)="openShippingAddressModal()">edit</i></h5>
                    <h5>{{currentCustomer.name}}</h5>
                    <div *ngIf="!shippingAddress">
                        <span>{{shippingAddressSelected?.street1}}</span>
                        <span>{{shippingAddressSelected?.city}}, {{shippingAddressSelected?.state}}, {{shippingAddressSelected?.zipcode}},{{shippingAddressSelected?.country}}</span>
                    </div>
                    <div *ngIf="shippingAddress">
                        <span>{{shippingAddress?.street1}}</span>
                        <span>{{shippingAddress?.city}}, {{shippingAddress?.state}}, {{shippingAddress?.zipcode}},{{shippingAddress?.country}}</span>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
       
</div>
   

<form class="form-container" [formGroup]="quoteForm" *ngIf="!isLoading&&currentQuoteInfo">
    <div class="display-none" *ngIf="currentCustomer">
        <input placeholder="" formControlName="customer_id" [ngModel]="currentCustomer.id">
        <input placeholder="" formControlName="shipping_address_id">
        <input placeholder="" formControlName="billing_address_id">
    </div>

    <div class="form-title">
        <div><span>PayTerms</span><span>Ship Via</span><span>OrderType</span><span>FOB</span></div>
    </div>

    <div class="form-content">
        <select placeholder="" formControlName="payment_terms" [(ngModel)]="currentQuoteInfo.payment_terms">
            <option *ngFor="let term of termList" [value]="term">{{term}}</option>
        </select>

        <select placeholder="" formControlName="shipping_method" [(ngModel)]="currentQuoteInfo.shipping_method">
            <option *ngFor="let method of shipViaList" [value] = 'method'>{{method}}</option>
        </select>

        <select placeholder="" formControlName="order_type" [(ngModel)]="currentQuoteInfo.order_type">
            <option *ngFor="let type of ordertypeList" [value] = 'type'>{{type}}</option>
        </select>
        <!-- <input placeholder="" formControlName="rep"> -->
        <input placeholder="" formControlName="fob" [(ngModel)]="currentQuoteInfo.fob">
    </div>

    <!-- <div class="form-title">
        <div><span>Price Term</span><span>O.Code</span><span>Est.Date</span><span>Rep</span></div>
    </div>

    <div class="form-content">
        <input placeholder="" formControlName="self_number">
        <input placeholder="" formControlName="o_code">
        <input type="date" placeholder="" formControlName="est_delivery_date">
        <input placeholder="" formControlName="rep">
    </div> -->
<!-- 
    <div class="product-list">
            <table class="mat-table mat-elevation-z8">
                    <thead>
                        <tr class="mat-header-row">
                        <th class="mat-header-cell"> Item </th>
                        <th class="mat-header-cell"> Description </th>
                        <th class="mat-header-cell"> Qty </th>
                        <th class="mat-header-cell"> Rate </th>
                        <th class="mat-header-cell"> Amount </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of productList; let i = index">
                        <tr class="mat-row product" >
                            <td>{{item?.name}}</td>
                            <td>{{item?.description}}</td>
                            <td><input value="{{item?.quantity}}"> </td>
                            <td><input value="{{item?.rate}}" [(ngModel)]="productList[i].rate" (ngModelChange)="updateItemInfo(item)"></td>
                            <td>{{item?.quantity*item?.rate}}</td>
                            <td (click)="removeFromProductList(item)" >X</td>
                        </tr>
                    </tbody>
                </table>
                <a class="add-more-btn" (click)="addProductModal()">+</a>
                <span>Total: ${{quoteTotalValue}}</span>
    </div> -->

    <!-- <div class="quote-description">
        Note: 
        <textarea placeholder="" formControlName="description" [(ngModel)]="currentQuoteInfo.description"></textarea>
    </div> -->
</form>

<div class="product-list">
        <table class="mat-table mat-elevation-z8">
            <thead>
                <tr class="mat-header-row">
                <th class="mat-header-cell"> Item </th>
                <!-- <th class="mat-header-cell"> Description </th> -->
                <th class="mat-header-cell"> Qty </th>
                <th class="mat-header-cell"> Rate </th>
                <th class="mat-header-cell"> Amount </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productList; let i = index" class="mat-row product" [ngClass]="{'even-line':i%2==0,'odd-line':i%2!==0}">
                    <td>{{item?.name | short : 12}} </td>
                    <!-- <td>{{item?.description | short : 12}}</td> -->
                    <td><input value="{{item?.quantity}}" [(ngModel)]="productList[i].quantity" > </td>
                    <td><input value="{{item?.rate}}" [(ngModel)]="productList[i].rate" ></td>
                    <td>{{item?.quantity*item?.rate}}</td>
                    <td (click)="removeFromProductList(item)" >X</td>
                </tr>
            </tbody>
        </table>
        
        <a class="add-more-btn" (click)="addProductModal()">+</a>
        <span>Total: ${{quoteTotalValue}}</span>
</div>

<div *ngIf="!isLoading" class="final-div" >

    <div class="sigenature-pad" onmousedown='mydragg.startMoving(this,"container",event);' onmouseup='mydragg.stopMoving("container");'>
            <signature-pad  [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </div>
    <div class="sig-div">
        <a (click)="sigModel()">Signature</a>:________________________________
        
        <div class="sig-date">
            <a class="clear-btn" (click)="clearPad()">Resign</a>
            <span>Name: Tom</span><br>
            <span>Data:{{currentDate.getDate()}}/{{currentDate.getMonth()+1}}/{{currentDate.getFullYear()}}</span>
  
        </div>   
    </div>
    <br><br>
    
</div>

<!-- don't want to show the signature when loading -->
<div *ngIf="isLoading" class="final-div" style="display:none" >

    <div class="sigenature-pad" onmousedown='mydragg.startMoving(this,"container",event);' onmouseup='mydragg.stopMoving("container");'>
        <signature-pad  [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </div>
    <div class="sig-div">
        <a (click)="sigModel()">Signature</a>:________________________________
        <div class="sig-date">
            <a class="clear-btn" (click)="clearPad()">Resign</a>
            <span>Name: Tom</span><br>
            <span>Data:{{currentDate.getDate()}}/{{currentDate.getMonth()+1}}/{{currentDate.getFullYear()}}</span>
    
        </div>   
    </div>
    <br><br>
        
</div>

<div class="add-product-modal" *ngIf="showAddProductModal">
    <mat-card>
        <form [formGroup]="productForm">
            <h4>Add Item</h4>

            <mat-form-field class="example-full-width product">

                <input  type="input" matInput  placeholder="Product" name="product_id"  [matAutocomplete]="auto" [formControl]="productCtrl">
                <mat-autocomplete class="product-list-add" #auto= matAutocomplete>
                    <mat-option  *ngFor="let product of searchProductList" [value]="product?.name" (click)="productSelected(product)">
                        <div  *ngIf="product?.images[0]" class="item-container" style="height:48px">
                            <img [src]="product?.images[0].url"  style="height:40px; display:inline-block; margin-bottom: -8px; width:40px; margin-top:4px;">
                            <p style="display:inline-block; width:83%; float:right; font-size:14px;">{{ product?.name | short: 75 }}</p>
                        </div>

                        <div *ngIf="!product?.images[0]" class="item-container" style="height:48px">
                            <img  style="height:40px;  display:inline-block; margin-bottom: -8px; width:40px ;margin-top:4px;" src="assets/images/bottle.png">
                            <p style="display:inline-block; width:83%; float:right; font-size:14px;">{{ product?.name | short: 75}}</p>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width warehouse" *ngIf="wareHouseList">
                <mat-select aria-placeholder="Warehouse">
                    <mat-option *ngFor="let warehouse of wareHouseList" value = "warehouse?.name">{{warehouse.name}}</mat-option>
                </mat-select>
            </mat-form-field> -->

            <input type="input" matInput  formControlName="product_id" style="display:none" [ngModel]="selectedProduct?.id" required>
            <input type="input" matInput  formControlName="description" style="display:none" [ngModel]="selectedProduct?.description">
            <input type="input" matInput  formControlName="name" style="display:none" [ngModel]="selectedProduct?.name">

            <mat-form-field class="example-full-width rate">           
                <input type="input" matInput placeholder="Rate"  formControlName="rate" [(ngModel)]="itemPrice" required>
            </mat-form-field>
            <mat-form-field class="example-full-width quantity"  >           
                <input type="input" matInput placeholder="Quantity"  formControlName="quantity" required>
            </mat-form-field>

            <button mat-button color="primary" (click)="cancelAddProduct()" >Cancel</button>
            <button mat-button color="primary" [disabled]="productForm.invalid"  (click)="addProduct(productForm.value)">Add</button>
        </form>
        <!-- <pre>{{productForm.value | json}}</pre> -->
    </mat-card>

</div>

<div class="add-product-modal" *ngIf="showBillingAddressModal">
    <mat-card>
        <h4>Select Billing Address</h4>
        <div [class.billing-selected]="address == billingAddressSelected ||address ==  defaultAddress"  *ngFor="let address of customerAddresses" (click)="selectBillingAddress(address)">
            <div class="address-card">
                <span>{{address?.street1}}</span> <br>
                <span>{{address?.city}}, {{address?.zipcode}}, {{address?.state}}</span>
            </div>
        </div>
        <div class="action-btn">
            <button  mat-button color="primary" (click)="cancelSelecteAddress()" >Cancel</button>
            <button mat-button color="primary" (click)="comfirmBillingAddress()">Comfirm</button>
        </div>
    </mat-card>
   
</div>

<div class="add-product-modal" *ngIf="showShippingAddressModal">
    <mat-card>
        <h4>Select shipping Address</h4>
        <div [class.shipping-selected]="address == shippingAddressSelected ||address ==  defaultAddress"  *ngFor="let address of customerAddresses" (click)="selectShippingAddress(address)">
            <div class="address-card">
                <span>{{address?.street1}}</span> <br>
                <span>{{address?.city}}, {{address?.zipcode}}, {{address?.state}}</span>
            </div>
        </div>
        <div class="action-btn">
            <button mat-button color="primary" (click)="cancelSelecteAddress()" >Cancel</button>
            <button mat-button color="primary" (click)="confirmShippingAddress()">Comfirm</button>
        </div>
       
    </mat-card>
</div>

<div *ngIf="isLoading"><app-spinner></app-spinner></div>

<!-- <pre>{{quoteForm.value | json}}</pre> -->