.address-content{
    width: 80%;
     display:inline-block
}

.edit-icon{
    width:15%;
    // border:1px solid green;
    display:inline-block; 
    text-align:center;
    padding:5px ;
    i{
        color:#2F883F;
    }
}

.address-stype{
    font-size:12px;
}