<!-- <div class="product-header" *ngIf="product">
    <div class="bg-write">
        <img src="assets/images/universe.png" style="height: 60px; width: 100%; opacity: 1.0;">
    </div>
    <div class="bg-blue">
        <div *ngIf="product.images.length == 0" class="product-picture">
            <img src="assets/images/icons/no-img.jpg">
        </div>
        <div *ngIf="product.images.length > 0" class="product-picture">
            <img [src]="product.images[0].url" (click)="openModal(product.images[0].url)">
        </div>

        <div class="item-name">
            <span class="product-name">
                <b>{{product.name}}</b>
            </span>
            <br>
            <span style="font-size: 13px;" class="description">{{product.headline}}</span>
        </div>
        <div class="overview-content">
                <span style="font-size: 13px;">{{product.description}}</span>
            </div>
    </div>
</div> -->

<sales-pitch-subject *ngFor="let salesPitchSubject of product?.sales_pitch_subjects" [salesPitchSubject]="salesPitchSubject"></sales-pitch-subject>

<mat-card class="orca_card orca_font_md" style="width: 476px">
    <form [formGroup]="pitchSubjectForm" novalidate>
        <div class="row title">
            <b>Sales Pitches Title</b>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-select formControlName="pitch_subject_name" placeholder="Selecte the Sales Pitch Title">
                    <mat-option *ngFor="let pitch_subject_name of pitch_subject_names" [value]="pitch_subject_name">
                        {{pitch_subject_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div formArrayName="sales_pitches">
            <div *ngFor="let sale_pitch of pitchSubjectForm['controls'].sales_pitches['controls'];let i=index">
                <div [formGroupName]="i">
                    <add-sales-pitch [sale_pitch_number]="pitchSubjectForm['controls'].sales_pitches['controls'].length" (sendImg)="onGetImg($event)"
                        (sendRichTxt)="logChange($event)" [index]="i" (sendOnDelete)="onDelete($event)" (sendOnAdd)="onAddMore()"></add-sales-pitch>
                </div>
            </div>
        </div>
        <button class="add_more_btn" mat-raised-button color="primary" (click)="onAddMore()">Add More</button>
        <!-- <button (click)="onSave()">Save All</button> -->
    </form>
    <button id="header-submit-edit" mat-button (onclick)="saveItem()">Save</button>
    <!-- <div *ngIf="modalOpen">
        <app-img-modal [imgSrc]="getImg(i)" (modalClose)="closeModal()"></app-img-modal>
    </div> -->

    <app-spinner *ngIf="isLoading"></app-spinner>
</mat-card>