<mat-card class="orca_card">
    <div class="orca_title_sm certification">
        <b>{{title}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
        <img *ngIf="!showFolder" class="note-img" src="assets/images/icons/folder.png" style="width:23px;height:23px" alt=""> &nbsp;
        <i *ngIf="!showFolder" class="material-icons">keyboard_arrow_right</i>
        <b>{{selectFolderName}}</b>
        <span class="pull-right" (click)="addAttachementDialog()">+</span>
    </div>

    <div class="attach-row" *ngIf="showFolder">
        <div class="attachment" *ngFor="let attachment of nonCategoryAttachArr; let j = index;">
            <!-- <div class="each-item" (click)="onClickAttachment(attachment, j)"> -->
            <div class="each-item">
                <div class="unread" *ngIf="attachment[1].length && attachment[1].length - 1 != 0">
                    <b>{{attachment[1].length - 1}}</b>
                </div>
                <img class="note-img" [src]="getIconImg(attachment)" style="width:34px;height:34px" alt="">
            </div>
            <div class="each-item">
                {{attachment.name | short : 7}}
            </div>
        </div>
        <div class="attachment" [class.remove]="!attachment[0]" *ngFor="let attachment of attachments;let i = index;">
            <div style="box-sizing: border-box;width:100%;" *ngIf="attachment[0]">
                <!-- <div class="each-item" (click)="onClickAttachment(attachment, i)"> -->
                <div class="each-item" (click)="showFiles(attachment[0])">
                    <div class="unread" *ngIf="attachment[1].length && attachment[1].length - 1 != 0">
                        <b>
                            {{attachment[1].length - 1}}
                        </b>
                    </div>
                    <img class="note-img" src="assets/images/icons/folder.png" style="width:34px;height:34px" alt="">
                </div>

                <div class="each-item">
                    {{attachment[0] | short : 7}}
                </div>
            </div>
        </div>
    </div>

    <div class="attach-row" *ngIf="!showFolder">
        <div class="attachment" (click)="backToFolder()">
            <div class="each-item">
                <img class="note-img" src="assets/images/icons/folder_level_up.png" style="width:34px;height:34px" alt="">
            </div>

            <div class="each-item">
                <b>Go Back</b>
            </div>
        </div>

        <div class="attachment" *ngFor="let attachment of selectAttachmentArr;let i = index;" [class.remove]="attachment.name =='upload_level_up.png'">
            <div class="each-item" (click)="onClickAttachment(attachment, i)">
                <img class="note-img" [src]="getIconImg(attachment)" style="width:34px;height:34px" alt="">
            </div>

            <div class="each-item">
                {{attachment.name | short : 7}}
            </div>
        </div>
    </div>
</mat-card>

<div *ngIf="modalOpen">
    <app-img-modal style="z-index: 15;" [imgSrc]="selectedImg" (modalClose)="closeModal()">
        <div *ngIf="selectedAttachment" class="attachment-product-content">
            <p>Comment: {{selectedAttachment.comment}}</p>
            <button mat-raised-button *ngIf="selectedAttachment.description && !selectedAttachment.description.includes('image')" (click)="onDownload(selectedAttachment)">Download</button>
            <div class="div1">Created By:{{selectedAttachment.created.by.first_name}} {{selectedAttachment.created.by.last_name}}</div>
            <div class="div2">{{selectedAttachment.created.at}}</div>
        </div>
    </app-img-modal>
</div>