#editor{
    // min-height: 100px;
    // max-width: 500px;
    width:100%;
    // overflow: auto;
    height: 200px;
}

#counter {
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
    font-size: 12px;
    color: #aaa;
    padding: 5px 15px;
    text-align: right;
}