<div class="main-container">
  <div *ngIf="!isLoading" routerLink="home" style="position: absolute; color: white; font-size: 20px; padding-top: 0.8em; padding-left: 0.6em;">< Back</div>
  <div class="header-container">
    <!-- <div class = "imgtdy">
        <img src="{{weatherCode}}">
      </div> -->
    <div class="tx-title">
      <span>{{weatherLocation?.city}}</span>
      <!-- <span id = "zip">{{zipcode2}}</span> -->
    </div>
    <div class="tx-md">
      {{weatherItem.condition?.text}}
    </div>
    <div class="tx-lg">
      {{weatherItem.condition?.temp}}
      <span *ngIf="weatherCode">°F</span>
    </div>
    <div class="tx-md">
      <span *ngIf="weatherCode" id="zip">{{zipcode2}}</span>
    </div>
    <div class="right">
      <img class="img-container" src="{{weatherCode}}">
    </div>
  </div>



  <!-- next 5 days -->
  <div *ngIf="zipcode2" class="sub-row">
    <div *ngFor="let forecast of weatherList" class="tx-row">
      <div class="tx-md">
        {{forecast.day}}, {{forecast.date}}
      </div>
      <img class="img-container-sm" src="{{forecast.code}}">
      <!-- <div class = "tx-md margin-top">
          {{forecast.text}}
      </div> -->
      <div class="tx-md margin-top">
        {{forecast.low}}-{{forecast.high}}
      </div>
    </div>
  </div>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>