<mat-card>
    <div class="subject-content" >
        <div>
            <div class="avatar" *ngIf="createdUser">
                <avatar-logo
                    [url]="createdUser?.by?.avatar_url" 
                    [userFirstName]="createdUser?.by?.first_name" 
                    [userLastName]="createdUser?.by?.last_name" 
                    [userId]="createdUser?.by?.user_id">
                </avatar-logo>
            </div>
  
            <div class="content">
                <div class="creater" *ngIf="createdUser">
                  <span class="name">{{createdUser?.by?.first_name}} {{createdUser?.by?.last_name}}</span>
                  <span class="create-time">{{createdUser?.at | local | amDateFormat : 'MM/DD/YYYY h:mm a'}}</span>
                </div>
                <div class="discuss-body">
                    <read-more style="text-align: left" [text]="content"></read-more>
                </div>              
            </div>
        </div>
    </div> 
</mat-card>
  