<div style="display: flex">
    <div>
        <div style="width: 700px; margin: 0px 93px; display: flex">
            <div>
                <div class="product-header" *ngIf="product">
                    <div class="bg-write">
                        <img src="assets/images/universe.png" style="height: 60px; width: 100%; opacity: 1.0;">
                    </div>
                    <div class="bg-blue">
                        <div *ngIf="product.images.length == 0" class="product-picture">
                            <img src="assets/images/icons/no-img.jpg">
                        </div>
                        <div *ngIf="product.images.length > 0" class="product-picture">
                            <img [src]="product.images[0].url" (click)="openModal(product.images[0].url)">
                        </div>

                        <div class="item-name">
                            <span class="product-name">
                                <b>{{product.name}}</b>
                            </span>
                            <br>
                            <span style="font-size: 13px;" class="description">{{product.headline}}</span>
                        </div>
                        <!-- <div class="overview-content">
                            <span style="font-size: 13px;">{{product.description}}</span>
                        </div> -->
                    </div>
                </div>
                <mat-card class="orca-card" *ngIf="product">
                    <div class="orca-title-sm">
                        <b>Product Cost</b>
                    </div>
                    <div class="orca-title-content-row" *ngIf="product.unit_price_type">
                        <span class="orca-title-h-blue">Unit Price Type</span>
                        <span class="orca-content-h-white">{{product.unit_price_type}}</span>
                    </div>
                    <div class="orca-title-content-row" *ngIf="product.est_cost">
                        <span class="orca-title-h-blue">Est Cost</span>
                        <span class="orca-content-h-white">$ {{product.est_cost / 100000 | number}}</span>
                    </div>
                    <show-price *ngIf="retailPrices" [retailPrices]="retailPrices"></show-price>
                </mat-card>

                <shipping-info *ngIf="product" [shipping_info]="product?.free_shipping"
                    (sendShippingInfo)="onGetShippingInfo($event)"></shipping-info>

                <app-upload-single-img (sendSave)="onGetImg($event)"
                    [company_id]="company_id"></app-upload-single-img>

                <!-- <shop-product-description *ngIf="product" (sendDes)="onGetDes($event)"
                    [description]="product?.description">
                </shop-product-description>

                <app-shop-category *ngIf="product && shopCategories" [firstCate]="product?.shop_first_category"
                    [secondCate]="product?.shop_second_category" [thirdCate]="product?.shop_third_category"
                    [product]="product" [categories]="shopCategories" [unit_weight]="product?.unit_weight"
                    (sendData)="onGetData($event)"></app-shop-category>

                <app-price-table (sendEditMode)="onGetEditMode($event)" *ngIf="product" [retailPrices]="retailPrices"
                    (sendEditPriceTable)="onGetPatchTable($event)" (sendPriceTable)="onReceivePriceTable($event)">
                </app-price-table> -->
            </div>

            <mat-accordion *ngFor="let step of steps; let i = index;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [ngClass]="{ 'finish' : isFinished(i) , 'unfinish' : !isFinished(i), 'unfinishOrange' : !isFinished(i) && (i == 3 || i == 4)}">
                        <mat-panel-title>
                            Step {{i + 1}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{step.description}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
            
                    <shop-product-description *ngIf="product && i == 0" (sendDes)="onGetDes($event)" [description]="product?.description"></shop-product-description>
            
                    <app-shop-category *ngIf="product && shopCategories && i == 1" [firstCate]="product?.shop_first_category" [secondCate]="product?.shop_second_category"
                        [thirdCate]="product?.shop_third_category" [product]="product" [categories]="shopCategories" [unit_weight]="product?.unit_weight"
                        (sendData)="onGetData($event)"></app-shop-category>
            
                    <app-price-table *ngIf="product && i == 2" (sendEditMode)="onGetEditMode($event)" [retailPrices]="retailPrices" (sendEditPriceTable)="onGetPatchTable($event)"
                        (sendPriceTable)="onReceivePriceTable($event)"></app-price-table>
            
                    <div *ngIf="product && i == 3">
                        <a>Add Sales Pitches</a>
                    </div>
            
                    <add-related-products (refresh)="onGetRefresh()" [selectedProducts]="product?.related_products" *ngIf="product && i == 4"
                        (onSendRelatedProducts)="onGetRelatedProducts($event)"></add-related-products>
                </mat-expansion-panel>
            </mat-accordion>
            
            <div class="btn-bar" *ngIf="checkProduct()">
                <button mat-raised-button color="primary" *ngIf="product?.shop_status != 3" (click)="changeToOnline()">Set as Online Product</button>
                <button mat-raised-button color="primary" *ngIf="product?.shop_status != 3" (click)="changeToOffline()">Set as Offline Product</button>
            </div>

            <!-- <sales-pitch-subject (sendSalesPitchForm)="onGetSalesPitch($event)"></sales-pitch-subject> -->

        </div>
    </div>
</div>
<!-- <div style="height:100px;"></div> -->
<app-spinner *ngIf="isLoading"></app-spinner>