<div style="width: 80%; margin: 0 auto">
<div class="product-header" *ngIf="product">
    <div class="bg-write">
        <img src="assets/images/universe.png" style="height: 60px; width: 100%; opacity: 1.0;">
    </div>
    <div class="bg-blue">
        <div *ngIf="product.images.length == 0" class="product-picture">
            <img src="assets/images/icons/no-img.jpg">
        </div>
        <div *ngIf="product.images.length > 0" class="product-picture">
            <img [src]="product.images[0].url" (click)="openModal(product.images[0].url)">
        </div>

        <div class="item-name">
            <span class="product-name">
                <b>{{product.name}}</b>
            </span>
            <br>
            <span style="font-size: 13px;" class="description">{{product.headline}}</span>
        </div>
        <!-- <div class="overview-content">
            <span style="font-size: 13px;">{{product.description}}</span>
        </div> -->
    </div>
</div>

<shipping-info *ngIf="product" [shipping_info]="product?.free_shipping" (sendShippingInfo)="onGetShippingInfo($event)" ></shipping-info>

<app-upload-single-img *ngIf="product && product?.images?.length < 1" (sendSave)="onGetImg($event)" [company_id]="company_id"></app-upload-single-img>

<shop-product-description *ngIf="product" (sendDes)="onGetDes($event)" [description]="product?.description"></shop-product-description>

<app-shop-category *ngIf="product && shopCategories" [firstCate]="product?.shop_first_category" [secondCate]="product?.shop_second_category"
    [thirdCate]="product?.shop_third_category" [product]="product" [categories]="shopCategories" [unit_weight]="product?.unit_weight" (sendData)="onGetData($event)"></app-shop-category>

<app-price-table (sendEditMode)="onGetEditMode($event)" *ngIf="product" [retailPrices]="retailPrices" (sendEditPriceTable)="onGetPatchTable($event)" (sendPriceTable)="onReceivePriceTable($event)"></app-price-table>

<div *ngIf="product">
    <a routerLink="addSalesSubject">Add Sales Pitches</a>
</div>

<!-- <sales-pitch-subject (sendSalesPitchForm)="onGetSalesPitch($event)"></sales-pitch-subject> -->

<div class="btn-bar" *ngIf="checkProduct()">
    <button mat-raised-button color="primary" (click)="changeToOnline()">Set as Online Product</button>
    <button mat-raised-button color="primary" (click)="changeToOffline()">Set as Offline Product</button>
</div>

<div *ngIf="modalOpen">
    <app-img-modal [imgSrc]="selectedImg" (modalClose)="closeModal()">
        <div *ngIf="selectedAttachment" class="attachment-product-content">
            <p>Comment: {{selectedAttachment.comment}}</p>
            <div class="div1">{{selectedAttachment.created.at}}</div>
            <div class="div2">Created By:{{selectedAttachment.created.by.first_name}} {{selectedAttachment.created.by.last_name}}</div>
        </div>
    </app-img-modal>
</div>
</div>
<div style="height:100px;"></div>
<app-spinner *ngIf="isLoading"></app-spinner>