<ul *ngFor="let item of list;index as i;">
    <li *ngIf="item?.name" [ngStyle]="getLevelColor(item.level)">
        <span class="indent-span" [ngStyle]="getIndent(item)"></span>
        <i class="material-icons" (click)="open(i)" *ngIf="(item?.children?.length > 0) && !checkChildren(i)">
            arrow_right </i>
        <i class="material-icons" (click)="close(i)" *ngIf="(item?.children?.length > 0) && checkChildren(i)">
            arrow_drop_down </i>
        <input name="category_radio" id="item.id" type="radio" (click)="onSelectRadio(item)">
        <span class="txt-span" *ngIf="!editItem || (editItem != item)">{{item.name}}
            (Id:{{item.id}})(Position:{{item.weight ? item.weight : 0}})</span>
        <form [formGroup]="editForm" *ngIf="editItem == item" style="height: 250px;">
            <div class="input-container">
                <mat-form-field>
                    <input matInput type="text" placeholder="name" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="input-container-description">
                <mat-form-field>
                    <input matInput type="text" placeholder="description" formControlName="description">
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field>
                    <input matInput type="number" placeholder="Parent Id" formControlName="parent_id">
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field>
                    <input matInput type="number" placeholder="Position" formControlName="weight">
                </mat-form-field>
            </div>
            <div class="img-container">
                <app-upload-single-img2 [getImg]="getImg" (imgChange)="onReceiveImgs($event)"></app-upload-single-img2>
            </div>
        </form>
        <div class="icon-bar">
            <i *ngIf="!editItem || (editItem != item)" (click)="onAddCategory(item, i)" class="material-icons">
                add_circle_outline
            </i>
            <i *ngIf="!editItem || (editItem != item)" class="material-icons" (click)="onEditCategory(item)">
                edit
            </i>
        </div>
    </li>

    <li *ngIf="!(item?.name)">
        <span class="indent-span" [ngStyle]="getInputIndent(item)"></span>
        <form [formGroup]="addForm" style="height: 250px;">
            <div class="input-container">
                <mat-form-field>
                    <input matInput type="text" formControlName="name" placeholder="Name" required style="width:100px; height: 30px;"
                        [(ngModel)]="category">
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field>
                    <input matInput type="text" formControlName="description" placeholder="description" required style="width:100px; height: 30px;"
                        [(ngModel)]="description">
                </mat-form-field>
            </div>
            <div class="img-container-2">
                <app-upload-single-img2 class="imgUpload" [getImg]="getImg" (imgChange)="onReceiveImgs($event)"></app-upload-single-img2>
            </div>
        </form>
        <!-- <app-upload-img class="imgUpload"  [company_id]="company_id" (imgChange)="onReceiveImgs($event)"></app-upload-img> -->
        <!-- <app-upload-single-img  class="imgUpload"  (imgChange)="onReceiveImgs($event)"></app-upload-single-img> -->
        <div class="icon-bar">
            <button mat-raised-button color="primary" (click)="saveCate(item)">Save</button>
            <button mat-raised-button color="warn" (click)="deleteCate(i)">
                Cancel
            </button>
        </div>


        <!-- <i (click)="deleteCate(i)" class="material-icons">
            remove_circle_outline
        </i> -->
    </li>

    <app-list-leaf *ngIf="item?.children && checkChildren(i)" (sendCategory)="onGetCate($event)" [list]="item.children"
        (sendRadio)="onGetRadio($event)"></app-list-leaf>
</ul>