<div class="prev-project" *ngIf="project">
    <div class="project-card-margin">
        <crm-oppo-subject-content [name]="project?.name" [description]="project?.description" [createdTime]="project?.created?.at">
            <!-- <mat-icon (click)="showDescription()" style="position: absolute; color:green; right:15px; top:2px; font-size: 30px;">description</mat-icon>                 -->
            
        </crm-oppo-subject-content>
    </div>   
</div>

<div class="oppo-process-bar" *ngIf="project">
    <oppo-progress-bar [completedOpportunityAmount]="project?.completed_opportunity_amount" [totalRequiredOpportunityAmount]="project?.total_required_opportunity_amount"></oppo-progress-bar> 
    <left-day-bar [requireDate]="project?.require_date" [durationTime]="project?.duration_time"></left-day-bar>
    <oppo-dollar-progress-bar [completedOpportunityDollarAmount]="project?.completed_opportunity_dollar_amount" [totalRequiredOpportunityDollarAmount]="project?.total_required_opportunity_amount * project?.opportunity_value"></oppo-dollar-progress-bar> 
    
</div>
<div style="text-align: center; font-sze: 14px; ">Min Value of Each Opportunity : ${{project?.opportunity_value | number}} Per {{project?.opportunity_value_type}}</div>

<!-- <opportunity-attachment (sendFormData)="onReceivedFormData($event)" [canUpload]="false" [prevProjectId]="" [title]="'Attachment'" [attachments]="project?.subject?.attachments"></opportunity-attachment> -->

<a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/department-opportunity/opportunity-person-project/{{projectId}}/sales-opportunity-list">
    Customers
    <!-- <span *ngIf="subjectListUnread" class="mysubject-unread">{{subjectListUnread}}</span> -->
</a>
<a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/department-opportunity/opportunity-person-project/{{projectId}}/sales-project-list">
    Opportunities
    <span *ngIf="projectListTotalUnread" class="mysubject-unread">{{projectListTotalUnread}}</span>
</a>

<!-- <div class="next-meeting" *ngIf="project">
    <b>{{project?.next_meeting_subjects.length}} Opportunities with CRM/VRM</b>
    <b>Add your Customer from CRM</b>    
</div> -->

<div *ngIf="project && project?.next_meeting_subjects.length > 0 && !isLoading;">    
    <div class="subject-card-margin" *ngFor="let subject of project?.next_meeting_subjects; let i=index">
        <company-card [value]="subject?.customer_company" [url]="subject?.customer_company?.logo_url" [name]="subject?.customer_company?.name" [industry]="subject?.customer_company?.industry" [possibility]="subject?.customer_company?.lead_possibility"
            [type]="subject?.customer_company?.type" routerLink="/company/{{currentLoginCompanyId}}/department-opportunity/opportunity-person-project/{{projectId}}/sales-opportunity-subject/{{subject.id}}" (click)="readAssignedCustomer(subject?.customer_company)">
            <div class="customer-list">
                <div class="customer_owner">
                    <company-logo [url]="subject?.customer_company.followed_by?.avatar_url" [comname]="getFullName(subject?.customer_company.followed_by?.first_name, subject?.customer_company.followed_by?.last_name)"
                        [userId]="subject?.customer_company.followed_by?.id"></company-logo>
                </div>

                <div class="contacts">
                    <div *ngIf="subject?.customer_company?.shared_with.length > 0">
                        <div class="contact" *ngFor="let contact of subject?.customer_company?.shared_with">
                            <company-logo [url]="contact?.avatar_url" [comname]="getFullName(contact?.first_name, contact?.last_name)" [userId]="contact?.id"></company-logo>
                        </div>
                    </div>
                </div>
            </div>

            <contact-bar (sendNavTo)="onGetNav($event)" [account]="subject?.customer_company"></contact-bar>
            
        </company-card>
        
        <!-- <opportunity-subject-card [name]="subject?.name" [meetingDate]="subject?.meeting_date"
            [meetingTime]="subject?.meeting_time" [unreadRecord]="subject?.unread_count" 
            [createdTime]="subject?.created?.at" [url]="subject?.id" [prevProjectId]="subject?.prev_meeting_project_id">
            
            <hr>
            <div class="subject-list" routerLink="/company/{{currentLoginCompanyId}}/department-opportunity/opportunity-person-project/{{projectId}}/sales-opportunity-subject/{{subject.id}}">
                <div class="subject_creater">
                    <avatar-logo
                        [url]="subject?.created?.by?.avatar_url" 
                        [userFirstName]="subject?.created?.by?.first_name" 
                        [userLastName]="subject?.created?.by?.last_name" 
                        [userId]="subject?.created?.by?.user_id">
                    </avatar-logo>
                </div>
            </div>
        </opportunity-subject-card> -->
    </div>
</div>

<!-- <ng-template #no_subject_found>
    <div class="no-subject" *ngIf="!isLoading">
        <img src="../../../../assets/images/no-item.png" width="50%" height="50%">
        <p>No Customer Found</p>
    </div>
</ng-template> -->

<!-- right now the owner of the project, and the admin of the company can add customer for sales project -->
<app-add-button *ngIf="!isLoading && (ownerPermission || isCompanyAdmin)" routerLink="/company/{{currentLoginCompanyId}}/department-opportunity/opportunity-person-project/{{project?.id}}/add-customer-opportunity" [queryParams]="{ownerPermission: this.ownerPermission, salesUserId: this.project.sales_contact.user_id}"></app-add-button>

<div *ngIf="isLoading"><app-spinner></app-spinner></div>

<!-- for assign customer to user -->
<div class="formmat-modal"  *ngIf="assignModalOpen">
    <mat-card>
        <h4>Selecte User</h4>
        <mat-form-field >
                <input  type="input" matInput  placeholder="Email"  name="email" [matAutocomplete]="auto" [formControl]="emailCtrl">
                <mat-autocomplete #auto= matAutocomplete>
                <mat-option *ngFor="let user of userEmailList" [value]="user?.email" (click)="assignedUserSlected(user)">
                        <span *ngIf="user?.avatar_url"><img  [src]="user?.avatar_url" height="30" style="display:inline-block;margin-bottom: -8px"> {{user.email}}</span>
                        <span *ngIf="!user?.avatar_url"><img  src="assets/images/testimg/useravatar2.png" height="30" style="display:inline-block;margin-bottom: -8px"> {{user.email}}</span>
                </mat-option>
                </mat-autocomplete>
        </mat-form-field>

        <div>
            <section class="example-section">
                <span style="line-height:24px; ">Notify Via</span>
                <mat-checkbox class="example-margin" [(ngModel)]="EmailChecked">Email</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="MessageChecked">Message</mat-checkbox>
            </section>

            <mat-form-field>
                <textarea matInput placeholder="Textarea" [(ngModel)]="NotifyContent" style="color:gray" ></textarea>
            </mat-form-field>
        </div>

        <div class="form-btn">
            <button mat-button color="primary" (click)="onCancelAssign()">Cancel</button>
            <button mat-button color="primary" (click)="onSubmitAssign()" [disabled]="!selectAssignedUser">Submit</button>
        </div>
    </mat-card>
</div>
<!-- end -->
