mat-card{
    margin-top:2%;
    mat-form-field{
        width:75%;
        // text-align: center;
        
    }
    .share-user-container{
        width:22%;
        float:right;
        margin-left:3px;
        margin-top:14px;
        // text-align: center;
    }
}

.shared-user-list::ng-deep {
    display:inline-block;
    width:100%;
    .shared-user{
        display:inline-block;
        app-profile-picture{
            margin-top:5px;
            width:40px;
            height:40px;
            margin-right:5px;
        }
        .profile-picture-box{
            width: 40px;
            height: 40px;
        }
        .shorthand{
            font-size: 15px !important;
        }
        mat-chip {
            display: inline-block;
            padding: 0;
        }
        .delete-shared-user{
            position:relative;
            width:20px;
            height:20px;
            display:inline-block;
            font-size:18px;
            text-align: center;
            top:0px;
            right:15px;
            color:#FFFFFF;
            background-color:lightgray;
            border-radius: 50%;
        }
        .mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
            margin: 10px 5px 0 0;
        }
    }
    
}
.company-user-list {
    margin-top:20px;
    width:100%;
    mat-card{
        margin-left:-9px;
        padding:16px 16px;
        app-profile-picture{
            background-color: #143258;
        }

        .employee{
            height:30px;
            .employee-avatar{
                width:12%;
                float:left;
                height:30px;
                app-profile-picture {
                    // float: left;
                    width:26px;
                    height:26px;
                }
            }
            
            .employee-info{
                width:65%;
                float:left;
                height:30px;
                .employee-name{
                    display:block;
                    margin-left: 5px;  
                    font-size: 13px;
                    color: #000;
                }
                .employee-email {
                    display:block;
                    margin-left: 5px;  
                    font-size: 13px;
                    color: grey;
                }
            }
            

            .select-btn{
                width:15%;
                float:right;
                height:30px;
                .select-employee{
                    
                    font-size: 12px;
                    background-color: #143159;
                    color:#fff;
                    padding:5px 10px;
                    border-radius: 5px;
                }
            }
           
        }
        
    }
  
}
.shared-user {
    // margin-right: 20px;
    app-profile-picture {
        float: left;
    }
    span {
        display: inline-block;
        margin-left: 5px;  
        font-size: 12px;
        color: grey;
    }
    .mat-chip-remove {
        margin-right: -14px;
        margin-left: 0;
        cursor: pointer;
    }
}

.shared-user-container {
    margin-left: 10px;
}