:host{
    
    mat-card{
        padding:9px 4px 0px 8px;
        // height: 110px;
        // height: 127px;
        height: 142px;
        
        // height: 110px;
        // height:65px;        
        margin-bottom: 1%;
    }
    // .has-product-item {
    //     // height: 115px !important;     
    //     // height: 130px !important;        
    //     height: 142px !important;        
        
    // }
    .project-content{
        // height: 50px;       
        font-size:13px;

        .require-date {
            float: left;
        }
        .report-frequency {
            float: right;
        }
        
        .content{
            display:inline-block;
            width:100%;
            // height: 30px;
            // overflow: hidden;
            
            .product-image {
                display: block;
                width: 11%;
                float: left;
                
            }
            .name{
                // padding-top: 4%;
                display: block;
                // width: 70%;
                // width: 92%;     
                width: 72%;                
                
                text-align: left;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
                margin-top: 1.5%;
            }
            .bar {
                // font-size:11px;
                display: block;
                width: 8%;
                // color:gray;
                // text-align: right;
                float: right;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap; 
            }
        }
    }   
    .process {        
        .process-content {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            width:98%;
            // height: 35px;
            height: 53px;
            overflow: auto; // width: 76%;
            padding-left: 2%;
            margin-bottom: 1%;
            .each-process {
                display: inline-block;
                width: 75px;
                height: 40px;
                margin-right: -4%;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap; 
                .process-name {
                    // border:1px solid lightgray;                    
                    width: 56px;
                    height: 20px;
                    float: left;
                    padding-top: 7%;
                    text-align: center;
                    margin-top: 10px;
                    font-size: 13px;
                    font-weight: bold;
                    border-radius: 5px;
                    
                    // border-radius: 5px;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap; 
                }
            }
            .current-process {
                display: inline-block;
                width: 75px;
                height: 40px;
                margin-right: -5.5%;
                margin-left: -1.5%;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap; 
                .process-name {
                    // border:1px solid lightgray;                    
                    width: 56px;
                    height: 20px;
                    float: left;
                    padding-top: 7%;
                    text-align: center;
                    margin-top: 10px;
                    font-size: 13px;
                    font-weight: bold;
                    border-radius: 5px;
                    
                    // border-radius: 5px;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap; 
                }
                // .point-next {
                //     float: right;
                //     margin-right: 5%;
                // }
                // .current-process {
                //     background-color: green;
                //     margin-top: -35px;
                // }
                .process-status {
                    position: relative;
                    top: -31px;
                    font-size: 11px;
                    margin-left: 10%;
                }
            }
        }
    }    

    hr {
        border-top:0.5px solid lightgray;
        
    }
    .project-user {
        margin-top: 7%;
        .user-list{
            // border-top:0.5px solid lightgray;
            margin-top: -7%;
            // padding:9px 4px 0px 8px;
            
            .owner-list{
                float:left;
                padding:6px 2px ;
                width:9%;
                height: 30px;
                avatar-logo{
                    width:30px;
                    height:30px;
                }
            }
            // .next-meet-shared-user {
            //     float:right;
            //     padding:6px 2px ;
            //     width:60%;
            //     height: 30px;
            //     margin-right: 2%;
            //     .share{
            //         line-height: 30px;
            //         display:inline-block;
            //         float:right;
            //         margin-left:5px;
            //         avatar-logo{
            //             width:30px;
            //             height:30px;
            //         }
            //     }
            // }
            .new-location {
                margin-right: 16% !important;
            }
            .assign-button {
                width:10%;
                position: absolute;
                // top: 88px;
                top: 108px;
                
                right: 0px;
                button {
                    border: none;
                    background-color: white;
                }
            }
        }
    }
    .unread{
        position: absolute;
        right: 10px;
        top: 38px;
        display: inline-block;
        background-color: red;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        color: white;
    }
}

ng-content{
    width:101%;
    margin-left:-6px;
}
