<div class="opportunity-setting">
    <form novalidate [formGroup]="opportunitySettingForm" class="opportunity-setting-form">
        <mat-form-field class="example-full-width" >           
            <input type="input" matInput placeholder="Company Name"  formControlName="company_name" >
        </mat-form-field>

        <mat-form-field class="example-full-width" >           
            <input type="input" matInput placeholder="Description"  formControlName="description" >
        </mat-form-field>

        <div class="choose-file">
            <input  class="file_input" id="file" type="file" accept="image/*" (change)=onFileSelected($event) #fileInput>
        </div> 
    </form>
    
    <!-- <pre>{{opportunitySettingForm.value | json}}</pre> -->
</div>

