form {
   margin-top: 5%;
}


input {
    height: 25px;
    margin: 2%;
}
.invalid-message {
    padding: 10px;
    color: red;
    text-align: center;
}

input{
    width:45%;
}
.item{
    width:35%;
    display: inline-block;
    text-align: right;
}