<div style="padding: 10px;">Coming soon!</div>
<div class="edit-list">
  <div class="summary">
   <b>
      <i class="material-icons">add_circle</i>
      <i class="material-icons">
          delete_forever
      </i>
   </b>
   <span class="showMoreBtn" >
      <mat-icon  class="mat-icon material-icons" role="img">person_add</mat-icon>
  </span> 
  </div>
</div>

<mat-card>
  <div class="file-box">
      <img src="assets/images/icons/folder.png" alt="assets/images/icons">
      <span>Certificates</span>
  </div>

  <div class="file-box">
      <img src="assets/images/icons/folder.png" alt="assets/images/icons">
      <span>Quality</span>
  </div>
  <div class="file-box">
      <img src="assets/images/icons/folder.png" alt="assets/images/icons">
      <span>Tests</span>
  </div>
  <div class="file-box">
      <img src="assets/images/icons/folder.png" alt="assets/images/icons">
      <span>Excels</span>
  </div>  <div class="file-box">
      <img src="assets/images/icons/folder.png" alt="assets/images/icons">
      <span>Pdf</span>
  </div>
  <div class="file-box">
      <img src="assets/images/icons/folder.png" alt="assets/images/icons">
      <span>Images</span>
  </div>
  <div class="file-box">
      <img src="assets/images/icons/folder.png" alt="assets/images/icons">
      <span>Words</span>
  </div>
</mat-card>

<mat-card >
  <div class="summary"><b>Details</b></div>
  <div class="category">
      <span class="item-title">Name</span>
      <span class="item-content" >filename</span>
  </div>
  <div class="category">
      <span class="item-title">Date</span>
      <span class="item-content" >2018/09/31</span>
  </div>
  <div class="category">
      <span class="item-title">Owner</span>
      <span class="item-content" >Kevin Su</span>
  </div> <div class="category">
      <span class="item-title">Size</span>
      <span class="item-content" >100kb</span>
  </div> <div class="category">
      <span class="item-title">Type</span>
      <span class="item-content" >excel</span>
  </div> <div class="category">
      <span class="item-title">Shared</span>
      <span class="item-content" >filename</span>
  </div> 
</mat-card>
