.comment {
    font-size: 16px;
    color: #fff;
    background-color: #15305A;
    text-align: center;
    height: 22px;
    padding-top: 2px;
}

.reply-card-margin {
    margin-left: 10%;
    width: 90%;
}

.blank-dev {
    height: 20%;
}