.orca-title-md {
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
}

.orca-title-sm {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}

.orca-font-md {
    font-size: 16px;
}

.orca-font-sm {
    font-size: 13px;
}

.orca-card {
    background: white;
    border-radius: 2px;
    padding: 9px 10px !important;
    margin-bottom: 4px;
}

.orca-btn-bar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
}

.orca-title-content-row{
    width: 100%;
    line-height: 15px;
}

.orca-title-h-blue {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 3.5px;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #15305a;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    border: 1px solid #eeeeee;
    /* width: 123px; */
    width:35%;
    font-size: 14px;
}

.orca-content-h-white {
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 3.5px;
    border-radius: 1px;
    border: 1px solid #eeeeee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    width:63%;
    /* width: 206px; */
}

.orca-textarea {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    overflow: scroll;
    height: 135px;
}