<div class="add_note_subject_container">
    <form [formGroup]="addNoteForm">
        <div class="row title">
            <b>Meeting Name</b>             
        </div>
        <div class="meeting-name">
            <span>{{subjectName}}</span>
        </div>
        <div class="row title">
            <b>Project Name</b>             
        </div>
         <div class="row">
            <input type="text" placeholder="Project Name is required !" required formControlName="name" >
        </div>
        
        <div class="row title">
            <b>Description</b>
        </div>
    
        <mat-card formArrayName="description">
    
            <div *ngFor="let subNote of addNoteForm['controls'].description['controls'];let i=index">
                <input class="file_input"  accept="image/*" type="file" (change)="onFileSelected($event, i)" #fileInput>
                <div class="row" [formGroupName]="i"> 
                    <div class="col-1" *ngIf="getImg(i)">
                        <img [src]="getImg(i)" (click)="openModal()" style="width:93.14px;height:93.14px;margin-right:12px;" alt="">
                        <div *ngIf="modalOpen">
                                <app-img-modal [imgSrc]="getImg(i)" (modalClose)="closeModal()"></app-img-modal>
                        </div>
                    </div>
                    <div class="col-3"> 
                        <textarea placeholder="Description is required !" style="width:100%;height:87.14px;padding:6px;" name="" id="" formControlName="text" required ></textarea>
                    </div>
                </div>
                <!-- <button class="add_more_btn" *ngIf="addNoteForm['controls'].description['controls'].length" style="background-color:red !important; color:white;" (click)="onDelete(i)">Delete current text</button> -->
                <!-- <br>
                <br>
                <hr>   -->
            </div>
        
            <!-- <button class="add_more_btn" (click)="onAddMore()">Add More</button>     -->
        </mat-card>    
        <div class ="target-date">
            Target Complete Date
            <input type="Date" placeholder="Meeting Date" formControlName="target_date" required>
        </div>
    </form>   
</div>

<div *ngIf="isLoading">
    <app-spinner></app-spinner>
</div>

<!-- <form [formGroup]="noteForm" novalidate  >
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Meeting Name"  [matAutocomplete]="auto" formControlName="subject" #subjectInput/>
        <mat-hint >Type a new subject or select an existing one</mat-hint>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.name">
                <span>{{ subject.name }}</span>
            </mat-option>
        </mat-autocomplete>        
    </mat-form-field>

    <editor id="quill" (onContentChanged)="logChange($event)"></editor>
    <mat-hint class="editor-hint">Please type some text in the first line. Please insert image in front of a new line. You can add your description on the right of the image you inserted</mat-hint>
    <div class ="target-date">
        Target Complete Date
        <input type="Date" placeholder="Meeting Date">
    </div>
</form> -->


