<div class="request-info">
        <div class="bg-write">
            <img src="assets/images/universe.png" style="height: 60px; width: 100%; opacity: 1.0;">
        </div>
        <div class="bg-blue">
            <div  class="product-picture">
                <img  src="assets/images/bottle.png">
            </div>
            <div class="item-name">
                <span class="product-name"><b>name</b></span><br>
                <span style="font-size: 13px;" class="description">this is headline</span>
            </div>
      </div>
    
      <div class="prodcut-image">
          <mat-card>
            <div class="multi-pictures"><b>Product Images</b></div>
            <div class="multi-pictures-loop">
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
                <div class="picture">
                    <img src= "assets/images/testimg/coffee.png">
                </div>
            </div>
        </mat-card>
      </div>
    
      <div class="product-info">
        <mat-card>
            <div class="matcard-title"><b>Product Info</b></div>
            <div class="product-content">
                <div class="item-content">
                    <span class="item-title gray-bg">Material</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">Style</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">Weight</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">Capacity</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">length</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">Height</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">Width</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">Finish</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                    <span class="item-title gray-bg">Punt</span>
                    <span class="item-value">value</span>
                </div>
                <div class="item-content">
                        <!-- <span class="item-title gray-bg"></span>
                        <span class="item-value"></span> -->
                </div>
                <div class="item-content">
                    <span class="item-title darkblue-bg">Case Count</span>
                    <span class="item-value red">1156</span>
                </div>
                <div class="item-content">
                    <span class="item-title darkblue-bg">Qty/Container</span>
                    <span class="item-value red">24276</span>
                </div>
                <div class="item-content" style='width:100%;'>
                    <span class="item-title red-bg" style='width:25%;'>Cost:</span>
                    <span class="item-value red" style='width:35%;'>FOB ShangHai</span>
                    <span class="item-value red" style='width:27%;'>$0.258</span>
                </div>
                
            </div>
        </mat-card>
      </div>
    
      <div class="questions">
            <mat-card>
                <div class="matcard-title"><b>Question</b></div>
                <div class="question-container">
                    <div class="question-container">
                        <div class="question-item">
                            <div class="item-content">Is this for customer's new Brand or Exsisting Brand?</div>
                            <span class="item-value">Yes</span>
                            <span class="disconut">10%</span>
                        </div>
                        <div class="question-item">
                            <div class="item-content">What is Customer's order quantity?</div>
                            <span class="item-value">10,000</span>
                            <span class="disconut">10%</span>
                        </div>
                        <div class="question-item">
                            <div class="item-content">What is Customer's Annual order quantity?</div>
                            <span class="item-value">90,000</span>
                            <span class="disconut">10%</span>
                        </div>
                        <div class="question-item">
                            <div class="item-content">How soon will customer place order?</div>
                            <span class="item-value">One Month</span>
                            <span class="disconut">10%</span>
                        </div>
                        <div class="question-item">
                            <div class="item-content">Does Customer need Payment term?(Do not suggest)</div>
                            <span class="item-value">Yes</span>
                            <span class="disconut">10%</span>
                        </div>
                        <div class="question-item">
                            <div class="item-content">Does Customer require us to stock for them?</div>
                            <span class="item-value">Yes</span>
                            <span class="disconut">10%</span>
                        </div>
                        <div class="question-item">
                            <div class="item-content">What is Customer's Packing Requiremnets?</div>
                            <span class="item-value">10 piece in one case</span>
                            <span class="disconut">10%</span>
                        </div>
                        <div class="question-item">
                            <div class="item-content">What industrial will this item use for?</div>
                            <span class="item-value">Do not know!</span>
                            <span class="disconut">10%</span>
                        </div>
                    </div>
                </div>
            </mat-card>
      </div>

      <div class="notice">
        <mat-card>
            <div class="matcard-title"><b>Purchasing Dpt use Only</b> </div>
            <div class="notice-container">
                <div class="item-content">
                    <span class="item-title darkblue-bg">Customer Duty Rate</span>
                    <span class="item-value">3.5%</span>
                </div>
                <div class="item-content">
                    <span class="item-title darkblue-bg">Ocean Freight Cost</span>
                    <span class="item-value">$2,000</span>
                </div>
                <div class="item-content">
                    <span class="item-title darkblue-bg">Dray age cost</span>
                    <span class="item-value">$600</span>
                </div>
                <div class="item-content">
                    <span class="item-title red-bg">Suggest Selling Price</span>
                    <span class="item-value">$0.6498</span>
                </div>
            </div>
        </mat-card>
       </div>
    
      <div class="notes">
        <mat-card>
            <div class="matcard-title"><b>Notes</b> <b style="position:absolute;right:15px;" >+</b></div>
        </mat-card>
      </div>
    
      <div class="documents">
        <mat-card>
            <div class="matcard-title"><b>Documents</b>  <b style="position:absolute;right:15px;" >+</b></div>
        </mat-card>
      </div>
    
    
    </div>