$width: 94%;

mat-form-field{
    margin:0 2%;
    width: 95%;
}

.join-btn{
    width:30%;
    text-align: center;
    background-color: #143258;
    display:inline-block;
    color:#FFFFFF;
    border-radius: 4px;
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 35%;
} 

.title {
    margin-top: 5%;
    margin-left: 1%;
}

mat-card{
    padding:10px ;
    height:45px;
    margin-top:5px;
}
.company-content{
    display:block;
    width:$width;
    .company-logo{
        width:12%;
        height: 44px;
        display:inline-block;
        vertical-align: middle;
        company-logo{
            width:40px;
            height:40px;

        }
    }

    .company-name{
        vertical-align: middle;
        text-align: left;
        margin-left:4px;
        // line-height: 44px;
        height: 44px;
        display:inline-block;
        width:58%;
        overflow: hidden;
        .company-address{
            color:gray;
            font-size:12px;
            vertical-align: sub;
            overflow: hidden;
        }
    }
    .user-level{
        width:25%;
        display:inline-block;
        .join-btn{
            width:45%;
            margin-left: 50%;
            text-align: center;
            background-color: #143258;
            display:inline-block;
            color:#FFFFFF;
            border-radius: 4px;
            height:30px;
            line-height: 30px;
            vertical-align: middle;
        } 
    }
}