.function-icon-name{
    margin:5px;
    width:60px;
    display:inline-block;
    span{
        font-size: 12px;
        font-weight: bold;
        display: block;
        text-align: center;
        overflow: hidden;
    }
}