<div class="function-icon-name">
    <logo [url]="fakeUrl.reporturl" [companyName]="'Report'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="note()"></logo>
    <span>Report</span>
</div>

<div class="function-icon-name">
    <logo [url]="fakeUrl.appproduceurl" [companyName]="'app-pro'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="apppro()"></logo>
    <span>app-pro</span>
</div>

<div class="function-icon-name">
    <logo [url]="fakeUrl.webproduceurl" [companyName]="'web-pro'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="webpro()"></logo>
    <span>web-pro</span>
</div>
<div class="function-icon-name">
    <logo [url]="fakeUrl.orgcharturl" [companyName]="'Org Chart'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Org Chart</span>
</div>

<div class="function-icon-name">
    <logo [url]="fakeUrl.logisticurl" [companyName]="'Logistic'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Logistic</span>
</div>

<div class="function-icon-name">
    <logo [url]="fakeUrl.hrurl" [companyName]="'HR'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>HR</span>
</div>
<div class="function-icon-name">
    <logo [url]="fakeUrl.financialurl" [companyName]="'Financial'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Financial</span>
</div>

<div class="function-icon-name">
    <logo [url]="fakeUrl.forcasturl" [companyName]="'web-pro'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Forcasting</span>
</div>

<div class="function-icon-name">
    <logo [url]="fakeUrl.businessruleurl" [companyName]="'Business Rule'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Busi.Rule</span>
</div>

<div class="function-icon-name">
    <logo [url]="fakeUrl.social_medias" [companyName]="'Social Medias'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Social Net</span>
 </div>
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.Punch_system" [companyName]="'Punch System'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Punch</span>
 </div>
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.Traning_center" [companyName]="'Traning Center'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Traning</span>
 </div>
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.Video_system" [companyName]="'Video System'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Video Sys</span>
 </div>
 
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.benefits_system" [companyName]="'Benefits System'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Benefits</span>
 </div>
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.price_list" [companyName]="'Price List'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Price List</span>
 </div>
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.trucking" [companyName]="'Trucking'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Trucking</span>
 </div>
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.moments" [companyName]="'Moments'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Moments</span>
 </div>
 
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.Filebox" [companyName]="'Filebox'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Filebox</span>
 </div>
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.contact" [companyName]="'Contact'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Contact</span>
 </div>
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.truck_route" [companyName]="'Best Route'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Best RT.</span>
 </div>

 <div class="function-icon-name">
    <logo [url]="fakeUrl.SMS" [companyName]="'SMS'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>SMS</span>
 </div>
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.todourl" [companyName]="'Task'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Task</span>
 </div>
 
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.calendar" [companyName]="'Calendar'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Calendar</span>
 </div>
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.StickyNotes" [companyName]="'StickyNotes'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>StickyNotes</span>
 </div>
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.Chat" [companyName]="'Chat'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Chat</span>
 </div>
 
 
 
 <div class="function-icon-name">
    <logo [url]="fakeUrl.Weacher" [companyName]="'Weacher'" [type]="1" [width]="50" [height]="50" [fontSize]="18" (click)="commingSoon()"></logo>
    <span>Weatcher</span>
 </div>

 <div class="function-icon-name">
    <logo [url]="fakeUrl.mapurl" [companyName]="'orcamap'" [type]="1" [width]="50" [height]="50" [fontSize]="18" ></logo>
    <span>Orca Map</span>
</div>