.search-bar {
    width: 100%;
    text-align: center; // position: fixed;
    // top:$warehouse-height + $margin * 2;
}

.content {
    // position: fixed;
    // top:$warehouse-height + $margin * 2 + $search-bar-height + $tab-bar-height;
    width: 100%;
    height: 65%;
    overflow: scroll;
}

.product-info-location {
    margin-top: 1%;
}

.count-bar {
    // width: 90%;
}