:host{
    
    mat-card{
        padding:9px 4px 9px 8px;
        height:85px;        
    }
    .subject-content{
        height: 53px;
        .subject-name{
            display:inline-block;
            vertical-align: middle;
            width:100%;
            height: 20px;
            overflow: hidden;
            h5{
                text-align: center;
                height: 20px;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
                width: 93%;
                margin-left: 7%;
                font-size: 18px;
            }
        }
        .time{
            display:inline-block;
            width:100%;
            height: 30px;
            overflow: hidden;
            
            .meeting-time{
                font-size:12px;
                display: block;
                width: 65%;
                text-align: left;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
            }
            .created-time {
                font-size:11px;
                display: block;
                width: 35%;
                color:gray;
                text-align: right;
                float: right;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
            }
        }
        .unread{
            position: absolute;
            right: 5px;
            top: 5px;
            display: inline-block;
            background-color: red;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            color: white;
        }
    }    
}
ng-content{
    width:101%;
    margin-left:-6px;
}
