
:host{
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    box-sizing: border-box;
    z-index: 10;
}

.avatar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    img{
        width: 100%;
        background-color:#FFFFFF;
    }

    .shorthand{
        font-size: 14px;
        font-weight: bold;
        color:#143258;
    }
}
