<mat-card class="orca_card orca_font_md" *ngIf="retailPrices?.length > 0 && !editMode">
    <div class="summary orca_title_sm">
        <b>Retail Prices</b>
    </div>
    <div class="row price-table">
        <div class="col-3">
            <div class="price-label">Min Qty</div>
        </div>
        <div class="col-3">
            <div class="price-label">Max Qty</div>
        </div>
        <div class="col-3">
            <div class="price-label">Price</div>
        </div>
    </div>

    <div class="row price-table" *ngFor="let table of retailPrices">
        <div class="col-3">
            <span>{{table.min_qty | number}}</span>
        </div>
        <div class="col-3">
            <span>{{table.max_qty | number}}</span>
        </div>
        <div class="col-3">
            <span>{{table.price | number}}</span>
        </div>
    </div>

    <div class="orca_btn_bar">
        <button mat-raised-button mat-button color="warn" (click)="editMode = !editMode">{{editMode ? 'Cancel' : 'Edit'}}</button>
    </div>
</mat-card>

<mat-card class="orca_card orca_font_md" *ngIf="retailPrices?.length == 0 || editMode">
    <div class="summary orca_title_sm">
        <b>Retail Prices</b>
    </div>
    <form [formGroup]="priceForm">
        <div formArrayName="prices">
            <div class="row">
                <div class="col-3">
                    <div class="price-label">Min Qty</div>
                </div>
                <div class="col-3">
                    <div class="price-label">Max Qty</div>
                </div>
                <div class="col-3">
                    <div class="price-label">Price</div>
                </div>
            </div>
            <div *ngFor="let price of priceForm['controls'].prices['controls'];let i=index">
                <div class="row" [formGroupName]="i">
                    <div class="col-3">
                        <input type="number" required formControlName="min_qty" required>
                    </div>
                    <div class="col-3">
                        <input type="number" formControlName="max_qty" required>
                    </div>
                    <div class="col-3">
                        <input type="number" formControlName="price" required>
                    </div>
                    <div class="col-3">
                        <i class="material-icons" *ngIf="priceForm['controls'].prices['controls'].length" (click)="onDelete(i)">
                            cancel
                        </i>
                    </div>
                </div>
            </div>
            <div class="orca_btn_bar">
                <button *ngIf="retailPrices?.length > 0" mat-raised-button mat-button color="warn" (click)="editMode = !editMode">{{editMode ? 'Cancel' : 'Edit'}}</button>
                <button class="add_more_btn" mat-raised-button mat-button (click)="onAddMore()">Add More</button>
                <button class="add_more_btn" mat-raised-button color="primary" mat-button (click)="savePriceTable()">Save</button>
            </div>
        </div>
    </form>

</mat-card>