.company-title-background{
    width:100%;
    img{
        width:100%;
    }
}

.panel-card{
    margin-bottom: 5px;
}

.company-title{
    margin-top:-46px;
    display:block;
    background-color:#FFFFFF;
    padding-bottom:5px;
    margin-bottom:5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .company-logo{
        margin:0 auto;
        margin-top:10px;
        width:60px;
        height:60px;
    }
    .company_name{
        width:100%;
        text-align: center;
    }

    .company-address{
        width:100%;
        margin: 2px 0px;
        text-align: center;
        font-size: 13px;
        color:gray;
    }

    .action-icon{

        text-align: center;


        a {
            margin: 10px 15px;
            display:inline-block;
            width:30px;
            height:30px;
            background-color:#006CD6;
            border-radius:50px;
            text-align: center;
            line-height: 30px;
            text-decoration: none;
            .icon-lable{
                display: block;
                margin-top:-6px;
                color:gray;
                font-size:13px;
                text-align: center;
            }

        }
        mat-icon{
            color:white;
            line-height: 30px;
            font-size:15px;
        }
    }
}


.company-products{
    .panel-card-title{
        font-size:14px;
    }
    .panel-card-body{
        .product-modal-box{
            display:inline-block;
            margin:1.2%;
            width:22.5%;
            .product-modal{
                width:100%;
                display:inline-block;
            }
        }
    }
}

.company-activities{

    .panel-card-title{
        font-size:14px;
    }

    .panel-card-body{
        img{
            width:40px;
            margin:4px 8px;
        }
    }
}

.company-contacts{

    .panel-card-title{
        font-size:14px;
    }

    .panel-card-body{
        font-size:13px;
        .company-contact-box{
            margin-top:-5px;
            display:inline-block;
            width:20%;
            text-align: center;

            .company-logo{
                margin:0 auto;
                margin-top:10px;
                width:44px;
                height:44px;
                img{
                    width:40px;
                    margin:4px 8px;
                }
            }
            .contact-name{
                display:inline-block;
                padding-top:2px;
                font-weight:bold;
            }
        }
    }

}

.company-services{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .company-contact-box{
        margin-top:-5px;
        display:inline-block;
        width:24%;
        text-align: center;
        // flex-grow: 1;

        .company-logo{
            margin:0 auto;
            margin-top:10px;
            width:44px;
            height:44px;
            img{
                width:55px;
                margin:4px 8px;
            }
        }
        .contact-name{
            display:inline-block;
            padding-top:10px;
            font-weight:bold;
            font-size: 12px;
            // white-space: nowrap;
        }
    }

}

.company-certification{
    .panel-card-title{
        font-size:14px;
    }
    .panel-card-body{
        img{
            width:40px;
            margin:4px 8px;
        }
    }
}

.company-notes{
    .panel-card-title{
        font-size:14px;
    }
    .panel-card-body{
        div{
            border:2px solid lightgray;
            padding:8px;
            margin-bottom:4px;
            font-size:13px;
            border-radius: 2px;

            .note-title{
                font-weight:bold;
            }
            .note-create-time{
                float:right;
                color:gray;
            }
        }
    }
}

:host{
    display: block;
    // border-radius: 50%;
    overflow: hidden;
    // border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

.company-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    img{
        width: 100%;
    }

    .shorthand{
        font-size: 12px;
        font-weight: 500;
        color: #BBBBBB;
    }
}

.panel-card-title{
    font-weight: bold;
    padding:4px 0px;
    .detail{
        font-weight:normal;
        color:gray;
        float:right;
        font-weight:13px;
    }
}


.product-modal{
    width:100%;
    border:1px solid lightgray;
    img{
        display:block;
        width: 100%;
        height:20vw;
    }
    .product-name{
        margin-top:-20px;
        display:block;
        background-color: #000;
        height:20px;
        opacity: 0.58;
        color:#FFFFFF;
        font-size:13px;
        text-align: center;
        line-height: 20px;
        overflow: hidden;
        white-space: nowrap;
    }
}

.right{
    border: none;
    background-color: #eee;
    position: absolute;
    bottom: 10px;
    right: 23px;
    padding: 5px;
}

.right-button{
    border: none;
    background-color: #eee;
    position: absolute;
    bottom: 15px;
    right: 23px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}