<div *ngIf="!isLoading">
    <mat-form-field *ngIf="!currentCustomerId" class="select-company">
            <input  type="input" matInput  placeholder="Company Name"  name="comapny name" [matAutocomplete]="auto" [formControl]="companyNameCtrl" autofocus required>
            <mat-autocomplete #auto= matAutocomplete>
                <mat-option *ngFor="let company of companyNameList" [value]="company?.name" (click)="companySlected(company)">
                    <span *ngIf="company?.logo_url"><img  [src]="company?.logo_url" height="30" style="display:inline-block;margin-bottom: -8px"> {{company?.name}}</span>
                    <span *ngIf="!company?.logo_url"><img  src="assets/images/testimg/company-icon.png" height="30" style="display:inline-block;margin-bottom: -8px"> {{company?.name}}</span>
                </mat-option>
            </mat-autocomplete>
    </mat-form-field>

    <div class="quote-header">
        <mat-card>
            <div class="sales-entity-header">
                <b *ngIf="salesEntityType == 'Add Quote'">Quote</b><span class="sub-header"  *ngIf="salesEntityType == 'Add Quotes'">*Not an Invoice </span>
                <b *ngIf="salesEntityType == 'Add SalesOrder'">SalesOrder</b><span class="sub-header"  *ngIf="salesEntityType == 'Add SalesOrders'">*Not an Invoice </span>
                <b *ngIf="salesEntityType == 'Add Invoice'">Invoice</b>
            </div>
            <span>Data: {{currentformDate()}}</span><br>
            <span >Valid Till: {{customEndDate()}}</span>
        </mat-card>
    </div>

    <!-- <div  *ngIf="currentCompany">
        <div class="current-company">
            <mat-card>
                <h4>Company Name: {{currentCompany?.name}}</h4>
                <span>{{currentCompany.address?.street1}}</span>
                <span>{{currentCompany.address?.city}}, {{currentCompany.address?.state}}, {{currentCompany.address?.zipcode}}</span>
                <span>{{currentCompany.address?.website}}</span>
            </mat-card>
        </div>
    </div> -->
    <div class="addresses" *ngIf="currentCustomer">
        <div>
            <div class="current-company-address">
                <mat-card>
                    <h5>Bill To: <i style="font-size:16px; color:green; float: right; padding:3px 5px;" class="material-icons" (click)="openBillingAddressModal()">edit</i></h5>
                    <h5>{{currentCustomer?.name | short: 20}}</h5>
                    <!-- <div *ngIf="!billingAddress">
                        <span>{{billingAddress?.street1}}</span>
                        <span>{{billingAddress?.city}}, {{billingAddress?.state}}, {{billingAddress?.zipcode}},{{billingAddress?.country}}</span>
                    </div> -->
                    <div *ngIf="billingAddress">
                        <span>{{billingAddress?.street1}}</span>
                        <span>{{billingAddress?.city}}, {{billingAddress?.state}}, {{billingAddress?.zipcode}},{{billingAddress?.country}}</span>
                    </div>
                </mat-card>
            </div>
        </div>
        
        <div>
            <div class="current-customer">
                <mat-card>
                    <h5>Ship To: <i style="font-size:16px; color:green; float: right; padding:3px 5px;" class="material-icons" (click)="openShippingAddressModal()">edit</i></h5>
                    <h5>{{currentCustomer.name | short: 20}}</h5>
                    <!-- <div *ngIf="!shippingAddress">
                        <span>{{shippingAddress?.street1}}</span>
                        <span>{{shippingAddress?.city}}, {{shippingAddress?.state}}, {{shippingAddress?.zipcode}},{{shippingAddressSelected?.country}}</span>
                    </div> -->
                    <div *ngIf="shippingAddress">
                        <span>{{shippingAddress?.street1}}</span>
                        <span>{{shippingAddress?.city}}, {{shippingAddress?.state}}, {{shippingAddress?.zipcode}},{{shippingAddress?.country}}</span>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="select-contact">
        <span>Account Contact: </span><i style="font-size:16px; color:green; float: right; padding:3px 5px;" class="material-icons" (click)="openAccountContactModal()">edit</i>
        <div class="account-contact" *ngIf="defaultCustomerContact">
            <label>Name: </label><span>{{defaultCustomerContact?.first_name}} {{defaultCustomerContact?.last_name}}</span><br>
            <label>Email: </label><span>{{defaultCustomerContact?.email}}</span>
        </div>
    </div>
           
</div>



<form class="form-container" [formGroup]="quoteForm" *ngIf="!isLoading">
    <div class="display-none" *ngIf="currentCustomer">
        <input placeholder="" formControlName="customer_id" [ngModel]="currentCustomer.id">
        <input placeholder="" formControlName="shipping_address_id">
        <input placeholder="" formControlName="billing_address_id">
        <input placeholder="" formControlName='customer_name' [ngModel]="currentCustomer.name">
    </div>

    <div style="width:100%">
        <mat-form-field class="example-full-width">
            <mat-select placeholder="Quote Type"  formControlName="old_new" required>
                <mat-option value="old">Old</mat-option>
                <mat-option value="new">New</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-title">
        <div><span>PayTerms</span><span>Ship Via</span><span>OrderType</span><span>FOB</span></div>
    </div>

    <div class="form-content">
        <select placeholder="" formControlName="payment_terms">
            <option *ngFor="let term of termList" [value]="term?.payterm">{{term?.payterm}}</option>
        </select>

        <select placeholder="" formControlName="shipping_method">
            <option *ngFor="let method of shipViaList" [value] = 'method?.ship_via'>{{method?.ship_via}}</option>
        </select>

        <select placeholder="" formControlName="order_type">
            <option *ngFor="let type of ordertypeList" [value] = 'type'>{{type}}</option>
        </select>
        <!-- <input placeholder="" formControlName="rep"> -->
        <input placeholder="" formControlName="fob">
    </div>

    <!-- <div class="form-title">
        <div><span>Price Term</span><span>O.Code</span><span>Est.Date</span><span>Rep</span></div>
    </div>

    <div class="form-content">
        <input placeholder="" formControlName="self_number">
        <input placeholder="" formControlName="o_code">
        <input type="date" placeholder="" formControlName="est_delivery_date">
        <input placeholder="" formControlName="rep">
    </div> -->

    <div class="product-list">
            <!-- <table class="mat-table mat-elevation-z8">
                    <thead>
                        <tr class="mat-header-row">
                        <th class="mat-header-cell"> Item </th>
                        <th class="mat-header-cell"> Description </th>
                        <th class="mat-header-cell"> Qty </th>
                        <th class="mat-header-cell"> Rate </th>
                        <th class="mat-header-cell"> Amount </th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let item of productList; let i = index" class="mat-row product" >
                            <td >{{item?.name | short:12}}</td>
                            <td  >{{item?.description}}</td>
                            <td  >{{item?.quantity}} </td>
                            <td  >{{item?.rate}}</td>
                            <td >{{item?.quantity*item?.rate}} </td>
                        </tr>
                    </tbody>
                </table> -->

                <div class="product-list-header">
                    <div class="header-container">
                        <span class="item">Item</span><span class="quantity">Quantity</span><span class="rate">Rate</span><span class="amount">Amount</span>
                    </div>
                </div>
                <div class="product-list-body">
                    <div class="body-container">
                        <div class="product-item" *ngFor="let item of productList; let i = index">
                            <div class="container">
                                <div *ngIf="!item?.img_url" class="item-image pull-left">
                                    <img src="assets/images/bottle.png">
                                </div>
                                <div *ngIf="item?.img_url" class="item-image pull-left">
                                    <img  [src]="item?.img_url">
                                </div>
                                <div class="item-content" [ngClass]="{'odd-line':i%2==0, 'even-line':i%2==1}">
                                    <div class="item-info" >
                                        <span class="item">{{item?.name}}</span><span class="quantity">{{item?.quantity}}</span><span [ngClass]="{'need-required': item?.rate*1.1 < item?.original_rate}" class="rate">${{fixNumberQty(item?.rate,4)}}</span><span class="amount">${{fixNumberQty(item?.quantity*item?.rate,2)}}</span>
                                    </div>
                                    <div class="item-description">
                                        <span>{{item?.description | short:48}} <a style="float:right; margin-right:5%" (click)="removeFromProductList(item)">X</a></span>
                                    </div>
                                    <div class="item-warehouse">
                                        <span>{{item?.warehouse_name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="add-more-btn" (click)="addProductModal()">+</a>
                <span class="total-number">Total: ${{fixNumberQty(quoteTotalValue,2)}}</span>
    </div>
    <div class="quote-description">
        Comments: 
        <textarea placeholder="" formControlName="description"></textarea>
    </div>

    <div *ngIf="quoteNotes">
        <label style = "margin-left:4px;">Notes: <span style="color:gray; font-size: 12px;">(Only Company employee can see notes.)</span></label>
        <div style="width:91%; padding:10px; border:1px solid lightgray; margin-left:2%; background-color:white">
            <div *ngFor="let note of getNoteContent(quoteNotes.description)">
                <p [innerHTML]="note?.text" style="height:16px; overflow:hidden; font-size: 13px"></p>
            </div>
        </div>
    </div>

    <button mat-raised-button color="primary" *ngIf="!AddNoteModal&&!quoteNotes " (click)="openAddNoteModal()">
        Add Notes
    </button>

    <button mat-raised-button color="primary" *ngIf="sendAndSaveQuote&&productList.length" (click)="sendAndNotifyCustomer()">Send</button> <button mat-raised-button color="primary" *ngIf="!sendAndSaveQuote" (click)="saveAndRequiredApproved()">Save and Request approve</button>
</form>
<div style="height: 80px;">

</div>

<!-- <div *ngIf="!isLoading" class="final-div" >
    <div class="sigenature-pad" onmousedown='mydragg.startMoving(this,"container",event);' onmouseup='mydragg.stopMoving("container");'>
        <signature-pad  [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </div>
    <div class="sig-div">
        <a (click)="sigModel()">Signature</a>:________________________________
        
        <div class="sig-date">
            <a class="clear-btn" (click)="clearPad()">Resign</a>
            <span>Name: Tom</span><br>
            <span>Data:{{currentDate.getDate()}}/{{currentDate.getMonth()+1}}/{{currentDate.getFullYear()}}</span>
  
        </div>   
    </div>
    <br>
    
</div> -->

<div class="add-note-form" *ngIf="AddNoteModal">

    <form [formGroup]="noteForm">
            <mat-card >
                    <h4>Add Note</h4>
                    <input style="width:100%;" type="text" placeholder="Note Subject Name"  formControlName="name" style="display:none">

                    <div formGroupName="description" style="">
                        <div *ngFor="let subNote of noteForm['controls'].description['controls'];let i=index" >
                            <!-- <input class="file_input"  accept="image/*" type="file" (change)="onFileSelected($event, i)" #fileInput> -->
                            <div class="row" [formGroupName]="i"> 
                                <!-- <div class="col-1" *ngIf="getImg(i)">
                                    <img [src]="getImg(i)" (click)="openModal()" style="width:93.14px;height:93.14px;margin-right:12px;" alt="">
                                    <div *ngIf="modalOpen">
                                        <app-img-modal [imgSrc]="getImg(i)" (modalClose)="closeModal()"></app-img-modal>
                                    </div>
                                </div> -->
                                <div class="col-3"> 
                                    <textarea placeholder="Reason for low price!" style="width:100%;height:87.14px;padding:6px;" name="" id="" formControlName="text" required ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <button mat-button color="primary" (click)="cancelAddQuteModal()">Cancel</button>
                        <button mat-button color="primary" class="add_more_btn" mat-button (click)="addQuoteNote()">Add</button>
                    </div>
            </mat-card>
    </form>
</div>

<!-- don't want to show the signature when loading -->
<div *ngIf="isLoading" class="final-div" style="display:none" >

        <div class="sigenature-pad" onmousedown='mydragg.startMoving(this,"container",event);' onmouseup='mydragg.stopMoving("container");'>
            <signature-pad  [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        </div>
        <div class="sig-div">
            <a (click)="sigModel()">Signature</a>:________________________________
            <div class="sig-date">
                <a class="clear-btn" (click)="clearPad()">Resign</a>
                <span>Name: Tom</span><br>
                <span>Data:{{currentDate.getDate()}}/{{currentDate.getMonth()+1}}/{{currentDate.getFullYear()}}</span>
      
            </div>   
        </div>
        <br>
        
</div>

<div class="add-product-modal" *ngIf="showAddProductModal">
    <mat-card>
        <form [formGroup]="productForm">
            <h4>Add Item</h4>

            <mat-form-field class="example-full-width product">
                <input  type="input" matInput  placeholder="Product" name="product_id"  [matAutocomplete]="auto" [formControl]="productCtrl">
                <mat-autocomplete class="product-list-add" #auto= matAutocomplete>
                    <mat-option  *ngFor="let product of searchProductList" [value]="product?.name" (click)="productSelected(product)">
                        <div  *ngIf="product?.images[0]" class="item-container" style="height:48px">
                            <img [src]="product?.images[0].url"  style="height:40px; display:inline-block; margin-bottom: -8px; width:40px; margin-top:4px;">
                            <div style="display:inline-block; width:83%; float:right; font-size:14px;">
                                <span>{{ product?.name | short: 60}}</span><br>
                                <span>#item {{product?.headline}}</span>
                            </div>
                            <!-- <p style="display:inline-block; width:83%; float:right; font-size:14px;">{{ product?.name | short: 75 }}<br>
                                <span>#item {{product?.headline}}</span>
                            </p> -->
                            
                        </div>

                        <div *ngIf="!product?.images[0]" class="item-container" style="height:48px">
                            <img  style="height:40px;  display:inline-block; margin-bottom: -8px; width:40px ;margin-top:4px;" src="assets/images/bottle.png">
                            <div style="display:inline-block; width:83%; float:right; font-size:14px;">
                                <span>{{ product?.name | short: 60}}</span><br>
                                <span>#item {{product?.headline}}</span>
                            </div>
                            <!-- <p style="display:inline-block; width:83%; float:right; font-size:14px;">{{ product?.name | short: 75}}
                                <span>#item {{product?.headline}}</span>
                            </p> -->
                           
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field  class="example-full-width warehouse" *ngIf="quoteForm.value.order_type === 'From Stock'">
                <mat-select  placeholder="Select Warehouse" formControlName="warehouse_name">
                    <mat-option *ngFor="let warehouse of wareHouseList" [value] = "warehouse?.name" (click)="wareHouseSelected(warehouse)"><span style="margin-left:20px;">{{warehouse.name}}</span></mat-option>
                </mat-select>
            </mat-form-field>

            <input type="input" matInput  formControlName="product_id" style="display:none" [ngModel]="selectedProduct?.id" required>
            <input type="input" matInput  formControlName="description" style="display:none" [ngModel]="selectedProduct?.description">
            <input type="input" matInput  formControlName="name" style="display:none" [ngModel]="selectedProduct?.name">
            <input type="input" matInput  formControlName="warehouse_id" style="display:none" [ngModel]="selectedWareHouse?.id">
            <input type="input" matInput  formControlName="original_rate" style="display:none" [ngModel]="originalPrice">
            <input type="input" matInput  formControlName="img_url" style="display:none" [ngModel]="selectedProduct?.images[0]?.url">
           
            <!-- <mat-form-field>
                <mat-select placeholder="Customer Type"  formControlName="warehouse_name" required>
                    <mat-option value="1">Lead</mat-option>
                    <mat-option value="2">Potential</mat-option>
                    <mat-option value="3">Account</mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-form-field class="example-full-width rate">           
                <input type="input" matInput placeholder="Rate"  formControlName="rate" [(ngModel)]="itemPrice" required>
            </mat-form-field>

            <mat-form-field class="example-full-width quantity">
                <input type="input" matInput placeholder="Quantity" formControlName="quantity" (input)="quantityChange($event)" required>
            </mat-form-field>

            <button mat-button color="primary" (click)="cancelAddProduct()" >Cancel</button>
            <button mat-button color="primary" [disabled]="productForm.invalid" (click)="addProduct(productForm.value)">Add</button>
        </form>
        <!--<pre>{{productForm.value | json}}</pre>-->
    </mat-card>
</div>

<div class="add-product-modal" *ngIf="showBillingAddressModal">
    <mat-card>
        <h4>Select Billing Address</h4>
        <div [class.billing-selected]="address == billingAddressSelected"  *ngFor="let address of customerAddresses" (click)="selectBillingAddress(address)">
            <div class="address-card">
                <span>{{address?.street1}}</span> <br>
                <span>{{address?.city}}, {{address?.zipcode}}, {{address?.state}}</span>
            </div>
        </div>

        <div class="add-new-address" routerLink="/company/{{currentLoginCompanyId}}/crm/account/{{currentCustomerId}}/addresses/add-address">
            <span>+</span>
        </div>
        <div class="action-btn">
            <button  mat-button color="primary" (click)="cancelSelecteAddress()">Cancel</button>
            <button mat-button color="primary" (click)="comfirmBillingAddress()">Comfirm</button>
        </div>
    </mat-card>
</div>

<div class="add-product-modal" *ngIf="showShippingAddressModal">
    <mat-card>
        <h4>Select shipping Address</h4>
        <div [class.shipping-selected]="address == shippingAddressSelected"  *ngFor="let address of customerAddresses" (click)="selectShippingAddress(address)">
            <div class="address-card">
                <span>{{address?.street1}}</span> <br>
                <span>{{address?.city}}, {{address?.zipcode}}, {{address?.state}}</span>
            </div>
        </div>

        <div class="add-new-address" routerLink="/company/{{currentLoginCompanyId}}/crm/account/{{currentCustomerId}}/addresses/add-address">
            <span>+</span>
        </div>
        <div class="action-btn">
            <button mat-button color="primary" (click)="cancelSelecteAddress()" >Cancel</button>
            <button mat-button color="primary" (click)="confirmShippingAddress()">Comfirm</button>
        </div>
       
    </mat-card>
</div>

<div class="add-product-modal" *ngIf="showAccountContactModal">
        <mat-card>
            <h4>Select Account contact</h4>
            <div [class.shipping-selected]="contact == selectedAccountCustomer" *ngFor="let contact of customerContacts" (click)="selectAccountContact(contact)">
                <div class="address-card">
                    <span>{{contact?.first_name}}</span> <span>{{contact?.last_name}}</span><br>
                    <!-- <span>{{address?.city}}, {{address?.zipcode}}, {{address?.state}}</span> -->
                </div>
            </div>

            <!-- <div *ngFor="let contact of customerContacts" (click)="selectAccountContact(contact)">
        {{contact?.first_name}} {{contact?.last_name}}
    </div> -->
    
            <div class="add-new-address" routerLink="/company/{{currentLoginCompanyId}}/crm/account/{{currentCustomerId}}/addresses/add-address">
                <span>+</span>
            </div>
            <div class="action-btn">
                <button mat-button color="primary" (click)="cancelSelecteContact()" >Cancel</button>
                <button mat-button color="primary" (click)="confirmContact()">Comfirm</button>
            </div>
           
        </mat-card>
    </div>



    
<div *ngIf="isLoading"><app-spinner></app-spinner></div>



<!-- <pre>{{quoteForm.value | json}}</pre> -->