<!-- <div  [ngStyle]="componentStyle.component">
    <div *ngIf="row.title">
        <b [ngStyle]="componentStyle.title">{{row.title}}</b>
    </div>
    <div *ngIf="row.description">
        <p [ngStyle]="componentStyle.content">{{row.description}}</p>
    </div>
</div> -->
<template-10-view [row]="row" [isEdit]="row.dummy_template" (onEditContent)="onEdit($event)"></template-10-view>
<div *ngIf="isEdit || row.dummy_template" class="container template-container">
    <form #form="ngForm" (ngSubmit)="onSave()" [formGroup]="templateForm">
        <div class="row">
            <div class="col-sm-3" formArrayName="columns" *ngFor="let column of templateForm.get('columns').controls; let i = index;">
                <label for="">Column {{i + 1}} : </label>
                <div [formGroupName]="i">
                    <div class="form-group">
                        <label for="title">Button Description</label>
                        <input [(ngModel)]="row.columns[i].title" required class="form-control" id="title"
                            aria-describedby="titleHelp" placeholder="Button Description" type="text" formControlName="title"
                            name="title" value="col 1">
                    </div>

                    <div class="form-group">
                        <label for="title">Column Description</label>
                        <input required [(ngModel)]="row.columns[i].description" class="form-control" id="title"
                            aria-describedby="titleHelp" placeholder="Please Column Description." type="text"
                            formControlName="description" name="title" value="col 1">
                    </div>

                    <div class="form-group">
                        <label for="title">Navigation Link</label>
                        <input required [(ngModel)]="row.columns[i].link" class="form-control" id="title"
                            aria-describedby="titleHelp" placeholder="Please provide url on navigation button." type="text"
                            formControlName="link" name="title" value="col 1">
                    </div>

                    <app-upload-single-img3 [title]="'Image For Component ' + (i + 1) + '(140 * 140)'" (imgChange)="onGetImageChange($event, i)"></app-upload-single-img3>
                </div>
            </div>
            <div class="col-sm-3">
                Left Component information
                <div class="form-group">
                    <label for="title">Top Title (Not Required)</label>
                    <input class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter title" type="text"
                        [(ngModel)]="row.title" formControlName="title" name="title" value="">
                    <!-- <small id="titleHelp" class="form-text text-muted">Not required.</small> -->
                </div>

                <div class="form-group">
                    <label for="description">Left Description (Not Required)</label>
                    <textarea class="form-control" id="description" aria-describedby="description" [(ngModel)]="row.description"
                        type="text" placeholder="Please proivde description." formControlName="description" name=""
                        value="" cols="30" rows="10"></textarea>
                    <!-- <small id="description" class="form-text text-muted">Not required.</small> -->
                </div>

                <app-upload-single-img3 [title]="'Left Main Image (Required) (200 * 200)'" (imgChange)="onGetRowImg($event)"></app-upload-single-img3>
            </div>
        </div>


        <br>

        <div class="col-sm-12">
            <button class="btn btn-primary" [disabled]="!form.valid || button.hasAttribute('is-disabled')" #button
                (ngSubmit)="button.setAttribute('is-disabled', 'true')" type="submit">Save</button>
            <button class="btn btn-danger" (click)="onCancel()" *ngIf="editMode">Cancel</button>
        </div>
        <!-- <button [disabled]="!form.valid || button.hasAttribute('is-disabled')" #button (ngSubmit)="button.setAttribute('is-disabled', 'true')"
                    type="submit">Save</button> -->
    </form>
</div>