input,button{
    display: inline-block;
    width:100%;
    height:100%;
    padding:6px;
    border-radius: 0;
}
b{
    width:100%;
    box-sizing: border-box;
} 

.add_more_btn{
    background-color:#eee;
}
    
.file_input{
    padding:6px 0 !important;
    width:25% !important;
    
}
.title{
    width:100%;
    margin-top:6px;
    padding:6px;
    box-sizing: border-box;
    background-color: #15305a !important;
    color: white;
    text-align: center;
}
mat-card{
    margin:0;
    padding: 6px;
}

.meeting-name {
    margin-top: 3px;
    padding-left: 8px;
}

.row{
    display: flex;
    width:100%;
    flex-direction: row;
    .col-1{
        display: flex;
        flex:1;
    }
    .col-3{
        display: flex;
        flex:3;       
        textarea{
            width:100%;
            padding:6px;
            margin:0;
            border:1px solid #aaa;
            border-radius:0;
        }
    }
}

.target-date {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    input {
        width: 118px;
        // margin-left: 44px;
        padding-left: 10px;
        height: 15px;
    }
}

// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 96%;
//     margin-left: 7px;
// }

// form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;
//     margin-top: 10px;
// }

// editor {
//     // width: 100%;
//     // margin-top: 10px;
//     margin-top: -8px;
//     width: 365px;
    
// }
  
// .example-full-width {
//     width: 100%;
// }

// .editor-hint {
//     font-size: 12px;
//     margin-bottom: 10px;
//     float: left;
//     align-self: flex-start;
// }

  