<template-5-view [row]="row" [isEdit]="row.dummy_template" (onEditContent)="onEdit($event)"></template-5-view>

<form class="form" *ngIf="isEdit || row.dummy_template" #form="ngForm" (ngSubmit)="onSave()" [formGroup]="templateForm">
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-sm-3">
                Upload Banner Image
                <app-upload-single-img3 [title]="'Banner Image (Required) (750 * 400)'" (imgChange)="onGetRowImg($event)"></app-upload-single-img3>
            </div>
            <div class="col-sm-3" formArrayName="columns" *ngFor="let column of templateForm.get('columns').controls;let i = index;">
                <label for="">Row {{ i+1 }}</label>
                <div [formGroupName]="i">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input [(ngModel)]="row.columns[i].title" required class="form-control" id="title"
                            aria-describedby="titleHelp" placeholder="Title" type="text" formControlName="title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="title">Button Description</label>
                        <input [(ngModel)]="row.columns[i].link_description" required class="form-control" id="link_description"
                            aria-describedby="titleHelp" placeholder="Button Description" type="text" formControlName="link_description"
                            name="link_description">
                    </div>
                    <div class="form-group">
                        <label for="title">Button Link</label>
                        <input [(ngModel)]="row.columns[i].link" required class="form-control" id="link"
                            aria-describedby="titleHelp" placeholder="Button Link" type="text" formControlName="link"
                            name="title">
                    </div>
                    <app-upload-single-img3 [title]="'Image For Component ' + (i + 1) + '(140 * 140)'" (imgChange)="onGetImageChange($event, i)"></app-upload-single-img3>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-12">
            <button class="btn btn-primary" [disabled]="!form.valid || button.hasAttribute('is-disabled')" #button
                (ngSubmit)="button.setAttribute('is-disabled', 'true')" type="submit">Save</button>
            <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>