<mat-card class="orca_card">
    <div class="summary orca_title_sm">
        <b>Wholesale Price Table</b>
        <span class="pull-right" (click)="addMorePrice()">+</span>
    </div>

    <div *ngFor="let eachWarehousePrices of wholesalePrices">
        <h4>Warehouse : {{eachWarehousePrices.warehouse.name}}, {{eachWarehousePrices.warehouse.address.city}}, {{eachWarehousePrices.warehouse.address.state}}</h4>
        <div class="row price-table">
            <div class="col-3">
                <div class="price-label">Min Qty</div>
            </div>
            <div class="col-3">
                <div class="price-label">Max Qty</div>
            </div>
            <div class="col-3">
                <div class="price-label">Price</div>
            </div>
        </div>

        <div class="row price-table" *ngFor="let table of eachWarehousePrices.prices">
            <div class="col-3">
                <span>{{table.min_qty | number}}</span>
            </div>
            <div class="col-3">
                <span *ngIf="table.max_qty">{{table.max_qty | number}}</span>
                <span *ngIf="!table.max_qty">Above</span>
            </div>
            <div class="col-3">
                <span>{{table.price / END_ZEROS | number}}</span>
            </div>
        </div>
    </div>
</mat-card>