.title{
    margin:2%;
}
#header-submit-edit{
    background-color: #15305a;
    color: white;
    margin-top: 6px;
    float: right;
}
#header-cancel {
    background-color: #15305a;
    color: white;
    margin-top: 6px;
}