
.short-path {
    clear: both;
    display: flex;
    justify-content: flex-end;
    border-top: 0.5px solid lightgray; // background-color:#E0EAF1;
    padding-top: 5px;

    .item{
        position:relative;
        width: 24px;
        height: 24px;
        margin-right:5px;
        img {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 0 3px; // padding: 6px 2px;
        }
    
        .icon-number{
            position: absolute;
            left: 15px;
            top:-3px;
            font-size: 9px;
            background-color: #FFF;
            border: 1px solid #006CD6;
            border-radius: 50px;
            width: 12px;
            height: 12px;
            line-height: 12px;
            display: inline-block;
            color: #006CD6;
            text-align: center;
        }
    }
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background-color: #006CD6;
        border-radius: 50px;
        text-align: center;
        line-height: 24px;
        text-decoration: none;
        margin: 0 3px;
        mat-icon {
            // padding:10px 15px;
            color: white;
            line-height: 24px;
            font-size: 15px;
        }
    }
}