<form [formGroup]="noteForm" novalidate  >
    <mat-form-field class="example-full-width">
        <input id="subject_name" matInput placeholder="Subject" 
        [matAutocomplete]="auto" formControlName="subject" maxlength="27"
         #subjectInput/>
        <mat-hint *ngIf="!getMaxInputErrorMessage()">Type a new subject or select an existing one </mat-hint>
        <mat-hint *ngIf="getMaxInputErrorMessage()" >{{getMaxInputErrorMessage()}}</mat-hint>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject.name">
                <span>{{ subject.name }}</span>
            </mat-option>
        </mat-autocomplete>        
    </mat-form-field>

    <editor id="quill" (onContentChanged)="logChange($event)"></editor>
    <mat-hint class="editor-hint">Please type some text in the first line. Please insert image in front of a new line. You can add your description on the right of the image you inserted</mat-hint>
</form>



