a{
    position: relative;
    text-decoration: none;
    color: #000000;
    width: 28.2%;
    height: 20px;
    display: inline-block;
    padding: 4% 2%;
    text-align: center;
    background-color: #E0EAF1;
    border-bottom: solid 2px #000000;
    .total-number{
        // position: absolute !important;
        // top: 35px !important;
        // left: 50px !important;
        font-size:10px;
        line-height: 18px;
        left:0px;
        top:0px;
        width:18px;
        height:18px;
        position:relative;
        border-radius: 50px;
    }
}

.salesorder-header{
    a{
        position: relative;
        text-decoration: none;
        color: #000000;
        width: 20%;
        height: 20px;
        font-size: 13px;
        display: inline-block;
        padding: 4% 2%;
        text-align: center;
        background-color: #E0EAF1;
        border-bottom: solid 2px #000000;
        .total-number{
            // position: absolute !important;
            // top: 35px !important;
            // left: 50px !important;
            font-size:10px;
            line-height: 18px;
            left:0px;
            top:0px;
            width:18px;
            height:18px;
            position:relative;
            border-radius: 50px;
        }
    }
    .active{
        background-color: rgb(255, 255, 255);
        color:#000000;
        border-bottom: none;
    }
    
}

.active{
    background-color: rgb(255, 255, 255);
    color:#000000;
    border-bottom: none;
}

.fix-title{
    position: sticky;
    top: 56;
    right: 0;
    width: 100%;
}
.container{
    height:80.5%; 
    overflow-y:scroll;
    overflow-x: hidden;
}

.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.filterActive{
    background-color:#143258;
    color:#ffffff !important;
}
.search-area{
    display:block;
    width:100%;
    .choice-field{
        display:inline-block;
        padding-left:1%;
        width:18%;
    }
    .search-field{
        display:inline-block;
        padding-left:1%;
        width:75%;
    }
    .invoice-search-field{
        display:inline-block;
        padding-left:1%;
        width:55%;
    }
    .filter-btn{
        margin-left:2%;
        padding:2%;
        width:13%;
        display:inline-block;
        border: 1px solid lightgray;
        border-radius: 4px;
        text-align: center;
        background-color:#143258;
        color:#ffffff;
        mat-icon{
            vertical-align: center;
            font-size:15px;
            height:19px
        }
    }
   
}
.filter-div{
    z-index: 10;
}
.filter-container{
    width:100%;
    height:180px;
    font-size:13px;
   
    // border:1px solid red;
    .filter-header{
        width:100%;
        a{
            width:45%;
            display:inline-block;
            padding:5px 0px;
            text-align: center;
            border:1px solid #143258;
            border-radius: 5px;
            color:#143258;
        }
        P{
            text-align: center;
            margin:8px 0;
            color:gray;
           
        }

    }
   
        .filter-item{
            a{  
                width:46%;
                height:25px;
                display:inline-block;
                border:1px solid lightgray;
                // border-radius: 5px;
                color:gray;
                font-size:13px;
                line-height:25px;
                padding:0 1%;
                margin:2px 0;
            }
        }
    
   
        .filter-date{
            mat-form-field{
                width:48%;
                display:inline-block;
            }
            .action-btn{
                width:100%;
                a{
                    width:44%;
                    height:20px;
                    display:inline-block;
                    font-size:13px;
                    border:1px solid lightgray;
                    padding:4px 1.5%;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 5px;

                }
            }
        
    }
}

.sub-nav{
    .sub-container{
        width:98%;
        // height:40px;
        font-size:13px;
        // border:1px solid red;
        line-height: 40px;
        padding:0 3px;
        background-color:lightgray;

        .arrow-con{
            display: inline-block;
            width: 16%;
            text-align: center;
            vertical-align: middle;
            margin-left: -11%;
            i{
                display:block;
            }
        }
        
        .arrow-up{
            position:relative;
            // top:-6px;
            // width:18px;
            height:16px;
            font-size:16px;

        }
        .arrow-down{
            position:relative;
            // top:8px;
            // width:18px;
            height:16px;
            font-size:16px;

        }
        // color:white;
        .entity-number{
            height:40px;
            // padding-left:2%;
            width:33%;
            display:inline-block;
            .entity-title{
                display:inline-block;
                width:80%;
            }
        }
        .create-time{
            width:30%;
            display:inline-block;
            .entity-title{
                display:inline-block;
                width:80%;
            }
        }
        .quote-value{
            padding-left:3%;
            width:29%;
            display:inline-block;
            .entity-title{
                display:inline-block;
                width:80%;
            }
        }
    }
    
}

.mat-card {
    padding: 9px 2px;
    margin-bottom:-4px;
}
.quote-header{
    span{
        display:block;
    }
}

.current-company{
    border:1px solid blue;
    span{
        display: block;
    }
}
.current-company-address{
    border:1px solid blue;
    span{
        display: block;
    }
}
.current-customer{
    border:1px solid green;
    span{
        display: block;
    }
}
.product-list{
    margin-top:10px;
    width: 95%;
    margin-left: 2%;
    .product-list-header{
        margin:5px 2px;
        span{
            display:inline-block;
            font-size: 13px;
            font-weight:bold;
        }
        .product-number{
            width:10%;
        }
        .product-name-header{
            width:45%;
        }
        .product-quantity{
            width:10%;
        }
        .product-price{
            width:10%;
        }
        .product-total-price{
            text-align: right;
            width:18%;
        }

    }
    .product{
        border:1px solid black;
        height:24px;
        width:100%;
        padding:5px 2px;
        font-size:12px;
        span{
            line-height:24px;
            height:24px;
            display:inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
        }
        .product-name{
            width:45%;
            
        }
        .product-number{
            width:10%;
            
        }
        .product-quantity{
            width:10%;
        }
        .product-price{
            width:10%;
        }
        .product-total-price{
            width:18%;
            text-align: right;
        }
        
    }
}
.sigenature-pad{
    width:270px;
    height:100px;
    border:1px solid red;
    float:right;
    margin-right:20px;
    margin-bottom: -12px;
}
.final-sig{
    float: right;
    margin-bottom:-20px;

}
.sig-div{
    margin:20px 5px;
    display:block;
    margin-bottom:80px;
}
.final-div{
    margin-top:25px;
    height:100px;
    .sig-date{
        margin-top:10px;
    }
    .clear-btn{
        width:60px;
        height:30px;
        background-color:lightblue;
        border-radius: 5px;
        color:#ffffff;
        line-height: 30px;
        text-align: center;
        float:right;
        margin:-5px 10px 0 0;
     

    }
}
.quote-card{
    height:45px;
    width:100%;
    // border:1px solid;
    padding:5px 5px;
    .quote-number{
        width:35%;
        height:45px;
        // line-height: 45px;
        display: inline-block;
        // font-weight:bold;

    }
    .create-time{
        position: relative;
        font-size:13px;
        line-height: 45px;
        width:30%;
        display:inline-block;
    }
    .quote-progress{
        float:right;
        width:30%;
        height:45px;
        line-height: 45px;
        display: inline-block;
        text-align: center;
        position: relative;
     
    }
}

.info-status-bar{
    width:100%;
    height:25px;
    border-top:1px solid lightgray;
    .customer_owner{
        float:left;
        padding:2px 2px ;
        width:10%;
        height: 22px;
        company-logo{
            width:23px;
            height:23px;
        }
    }
}

.no-subject {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 35%;
    align-items: center;
    p {
        font-size: 20px;
        font-weight: bolder;
        color: #CFD7E6;
        border: 2px;
        border-color: #CFD7E6;
        position: absolute;
        display: block;
        margin-top: 25px;
        padding-right: 30px;
    }
}

.need-apporved{
    background-color:#FFF2CF;
}
.waiting-send{
    background-color: #D5EDDB;
}
.decline{
    background-color:#F7D6DA;
}
.success{
    background-color:#D5EDDB;
}

.final-div{
    margin-top:25px;
    height:100px;
    .sig-date{
        margin-top:10px;
    }
    .clear-btn{
        width:60px;
        height:30px;
        background-color:#143258;
        border-radius: 5px;
        color:#ffffff;
        line-height: 30px;
        text-align: center;
        float:right;
        margin:-5px 10px 0 0;
     

    }
}

.sigenature-pad{
    width:270px;
    height:100px;
    border:1px solid red;
    float:right;
    margin-right:20px;
    margin-bottom: -12px;
}

.sig-div{
    margin:20px 5px;
    display:block;
    margin-bottom:80px;
}

.card-container{
    margin-bottom: 4px;
}