<router-outlet ></router-outlet>

<div class="fix-title">

    <!-- quote nav bar  -->
    <!-- using currentCustomerId to know for customer or centor -->
    <!-- to see all customers quotes in quote center -->
    <div *ngIf="!currentCustomerId && addSalesEntity=='Quotes'">
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/salesentity/quote/draft">Draft <span style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/salesentity/quote/processing" >Processing <span style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/salesentity/quote/send">Send <span style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
    </div>
    <!--to see one customer quotes with customer id -->
    <div *ngIf="currentCustomerId && !vendorId && addSalesEntity=='Quotes'">
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/crm/lead/{{currentCustomerId}}/salesentity/quote/draft">Draft<span *ngIf="quoteType == 'draft'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/crm/lead/{{currentCustomerId}}/salesentity/quote/processing" >Processing <span *ngIf="quoteType == 'processing'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/crm/lead/{{currentCustomerId}}/salesentity/quote/send">Send <span *ngIf="quoteType == 'send'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
    </div>

    <!--to see all customers salesorder in quote center -->
    <div *ngIf="!currentCustomerId && addSalesEntity=='SalesOrders'" class="salesorder-header">
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/salesentity/salesorder/new">New<span *ngIf="salesorderType == 'new'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/salesentity/salesorder/confirmed">Confirmed <span *ngIf="salesorderType == 'confirmed'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/salesentity/salesorder/pickedup">PickedUp <span *ngIf="salesorderType == 'pickedup'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/salesentity/salesorder/delivered">Delivered <span *ngIf="salesorderType == 'delivered'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
    </div>

     <!--to see one customer salesorder with customer id -->
    <div *ngIf="currentCustomerId && !vendorId && addSalesEntity=='SalesOrders'" class="salesorder-header">
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/crm/account/{{currentCustomerId}}/salesentity/salesorder/new">New<span *ngIf="salesorderType == 'new'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/crm/account/{{currentCustomerId}}/salesentity/salesorder/confirmed" >Confirmed <span *ngIf="salesorderType == 'confirmed'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/crm/account/{{currentCustomerId}}/salesentity/salesorder/pickedup">PickedUp <span *ngIf="salesorderType == 'pickedup'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active" routerLink="/company/{{currentLoginCompanyId}}/crm/account/{{currentCustomerId}}/salesentity/salesorder/delivered">Delivered <span *ngIf="salesorderType == 'delivered'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
    </div>

    <div *ngIf="!currentCustomerId && addSalesEntity == 'Invoices'">
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/salesentity/invoice/needinvoice">NeedInvoice<span *ngIf="quoteType == 'new'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/salesentity/invoice/invoiced">Invoiced <span *ngIf="quoteType == 'Invoiced'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/salesentity/invoice/paid">Paid <span *ngIf="quoteType == 'Paid'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
    </div>

    <div *ngIf="currentCustomerId && !vendorId && addSalesEntity == 'Invoices'">
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/crm/lead/{{currentCustomerId}}/salesentity/invoice/needinvoice">NeedInvoice<span *ngIf="quoteType == 'new'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/crm/lead/{{currentCustomerId}}/salesentity/invoice/invoiced">Invoiced <span *ngIf="quoteType == 'Invoiced'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
        <a routerLinkActive="active"  routerLink="/company/{{currentLoginCompanyId}}/crm/lead/{{currentCustomerId}}/salesentity/invoice/paid">Paid <span *ngIf="quoteType == 'Paid'" style="font-size:12px;">{{salesEntityTotalNumber}}</span></a>
    </div>



    <div class="search-area">
        <mat-form-field class="choice-field" *ngIf="addSalesEntity=='Invoices'&& !currentCustomerId">
            <mat-select placeholder="Search By" >
                <mat-option *ngFor="let type of invoiceTypeList" [value]="type" (click)="getInvoiceType(type)" >{{type}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="search-field" [ngClass]="{'invoice-search-field': addSalesEntity=='Invoices'&& !currentCustomerId }">
                <input class="input" matInput placeholder="Filter" aria-label="product name" [(ngModel)]="filterValue" >
                <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        
        <a class="filter-btn" (click)="showFilter()" *ngIf="!showFilterModal">filter</a>
        <a class="filter-btn" (click)="showFilter()" *ngIf="showFilterModal"><mat-icon matSuffix>loop</mat-icon></a>
    </div>

    <mat-card *ngIf="showFilterModal" class="filter-div">
        <div class="filter-container">
            <div class="filter-header">
                <a [ngClass]="{'filterActive': showPresetsModal ==true}" (click)="showPresets()">Presets</a>
                <a [ngClass]="{'filterActive': showCustomModal ==true}" (click)="showCustom()">Custom</a>
                <p>DATE RANGE</p>
            </div>
            <div *ngIf="showPresetsModal">
                <div class="filter-item">
                    <a (click)="filterByTime('today')">Today</a>
                    <a (click)="filterByTime('yesterday')">Yesterday</a>
                    <a (click)="filterByTime('lastweek')">Last Week</a>
                    <a (click)="filterByTime('lastmonth')">Last Month</a>
                    <a (click)="filterByTime('weektodate')">Week to Date</a>
                    <a (click)="filterByTime('monthtodate')">Month to Date</a>
                    <a (click)="filterByTime('quartertodate')">Quarter to Date</a>
                    <a (click)="filterByTime('yeartodate')">Year to Date</a>
                </div>
            </div>
            <div *ngIf="showCustomModal">
                <div class="filter-date">
                    <mat-form-field color="accent">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                        
                    <mat-form-field color="accent">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
    
                    <div class="action-btn">
                        <a (click)="closeFilterModal()">Cancel</a>
                        <a (click)="filterByTime('custom')">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <!-- hidden by yadong maybe use later -->
        <!-- <div class="sub-nav">
            <div class="sub-container">
                <div class="entity-number" (click)="multiFilter('created_at')">
                    <div class="entity-title">Quote Number</div>
                    <div class="arrow-con">
                        <i class="material-icons arrow-up">keyboard_arrow_up</i>
                        <i class="material-icons arrow-down">keyboard_arrow_down</i>
                    </div>
                </div>
        
                <div class="create-time" (click)="multiFilter('created_at')">
                    <div class="entity-title">Quote Value</div>
                    <div class="arrow-con">
                        <i class="material-icons arrow-up">keyboard_arrow_up</i>
                        <i class="material-icons arrow-down">keyboard_arrow_down</i>
                    </div>
                </div>
                
                <div class="quote-value" (click)="multiFilter('created_at')">
                    <div class="entity-title">Create time</div>
                    <div class="arrow-con">
                        <i class="material-icons arrow-up">keyboard_arrow_up</i>
                        <i class="material-icons arrow-down">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>
        </div> -->
</div>

<div class="container" (scroll)="onMouseWheel($event)">

    <div *ngIf="quoteList && quoteList?.length > 0 ;  else no_subject_found">
        <div *ngFor="let quote of quoteList" >
            <mat-card class="card-container" [ngClass]="{'need-apporved':quote?.approve_status == 'NeedApproved', 'waiting-send':quote?.approve_status == 'WaitingSend', 'decline':quote?.approve_status == 'Decline', 'success':quote?.approve_status == 'Send'&&quote?.account_signature}">
                <div *ngIf="!vendorId" class="quote-card" [routerLink]="quote?.id" >
                    <div class="quote-number">
                        <span><b>{{quote?.customer_name |short: 12}}</b></span><br>
                        <span style="color:gray; font-size:12px">{{quote?.sales_entity_number}}</span>
                    </div> 
                    <div class="create-time">
                        <span>$<b>{{fixNumberQty(quote?.total, 2)}}</b></span>
                    </div>

                    <div class="quote-progress">
                        <day-left-bar></day-left-bar>
                        <span style="color:gray; font-size:12px">{{createTime(quote.created?.at)}}</span>
                    </div>
                </div>

                <div *ngIf="vendorId" class="quote-card" [routerLink]="quote?.id" [queryParams]="{ vendorId: vendorCompanyId}" >
                    <div class="quote-number">
                        <span>{{quote?.sales_entity_number}}</span>
                    </div> 
                    <div class="create-time">
                        <span>{{createTime(quote.created?.at)}}</span>
                    </div>

                    <div class="quote-progress">
                        <day-left-bar></day-left-bar>
                    </div>
                </div>

                <div class="info-status-bar">
                    <div class="customer_owner">
                        <company-logo [url]="quote.created?.by?.avatar_url" [comname]="getFullName(quote.created?.by?.first_name, quote.created?.by?.last_name)"
                            [userId]="quote.created?.by?.id"></company-logo>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <ng-template #no_subject_found>
        <!-- <div class="no-subject" *ngIf="!isLoading">
            <img src="../../../../assets/images/no-item.png" width="50%" height="50%">
            <p *ngIf="addSalesEntity == 'Quotes'">No Quotes Found</p>
            <p *ngIf="addSalesEntity == 'SalesOrders'">No SalesOrders Found</p>
            <p *ngIf="addSalesEntity == 'Invoices'">No Invoices Found</p>
        </div> -->
    </ng-template>

    <div *ngIf="addSalesEntity == 'Quotes'">
        <app-add-button *ngIf="!isLoading" routerLink="add-quote"></app-add-button>
    </div>

    <div *ngIf="addSalesEntity == 'SalesOrders'">
        <app-add-button *ngIf="!isLoading" routerLink="add-salesorder"></app-add-button>
    </div>

    <div *ngIf="addSalesEntity == 'Invoices'&& invoiceType !== 'Shop Invoice'">
        <app-add-button *ngIf="!isLoading" routerLink="add-invoice"></app-add-button>
    </div>

    <div *ngIf="isLoading"><app-spinner></app-spinner></div>
    <div style="height:85px;"></div>

</div>



