table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:6px 0;
    text-align: center;
}
caption{
    padding:6px 0;
}
.unread-mark{
    position: absolute;
    left: 5px;
    background-color:red;
    border-radius: 8px;
    width: 5px;
    height: 5px;
    line-height: 20px;
}