<mat-card routerLink="product-category">
    <logo [url]="fakeUrl.inurl" [companyName]="'Inventory'" [type]="1" [width]="50" [height]="50" [fontSize]="18"></logo>

    Inventory > Product> Category

</mat-card>
<mat-card routerLink="service-category">
    <logo [url]="fakeUrl.inurl" [companyName]="'Inventory'" [type]="1" [width]="50" [height]="50" [fontSize]="18"></logo>

    Inventory > Service> Category

</mat-card>
<mat-card routerLink="company-info">
    <logo [url]="fakeUrl.seturl" [companyName]="'Setting'" [type]="1" [width]="50" [height]="50" [fontSize]="18"></logo>

    Company > Company-Info

</mat-card>

<mat-card routerLink="shop-department-setting">
    <logo [url]="fakeUrl.shopManagement" [companyName]="'Setting'" [type]="1" [width]="50" [height]="50" [fontSize]="18"></logo>

    Shop > Department Setting

</mat-card>

<mat-card routerLink="company-category">
    <logo [url]="fakeUrl.seturl" [companyName]="'Setting'" [type]="1" [width]="50" [height]="50" [fontSize]="18"></logo>

    Company > Organization Structure

</mat-card>

<mat-card routerLink="quote">
    <logo [url]="fakeUrl.quoteCenterUrl" [companyName]="'Setting'" [type]="1" [width]="50" [height]="50" [fontSize]="18"></logo>

    Company > Quote Setting

</mat-card>