
.function-icon-name{
    margin-bottom:4px;
    width:66px;
    text-align: center;
    display:inline-block;
    width:66px;
    img{
        display:inline-block;
        text-align: center;
        line-height: 50px;
        width:38px;
        margin:4px 8px;
    }
    span{
        font-size:15px;
        font-weight:bold;
        display:block;
        text-align: center;
        overflow: hidden;
    }

}
.idea{
    position:absolute;
    top:17%;
    left:4%;
}
.request-price{
    position:absolute;
    top:17%;
    left:9.5%;
}
.quotas{
    position:absolute;
    top:17%;
    left:48%;
}

.request-info{
    position:absolute;
    top:59%;
    left:43%;
}
.hr-info{
    position: absolute;
    top:59%;
    left:66.5%;
}




.opp-container{
    width:100%;
    margin: 0 3%;
    h3{
        margin-top:15px;
        text-align: center;
    }
    mat-form-field{
        width:94%;
    }
}

.section-title{
    width:100%;
    margin: 10px 0px;
}