form{
    width:100%;
    mat-form-field{
        width:100%;
    }
    .choose-file{
        
    }

    mat-hint{
        display: block;
        margin-top:4px;
        font-size:12px;
    }
  
}
.dislog-title{
    margin: 0 !important ;
    display: block;
    margin-bottom:4px;
}

.select-folder-area {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    .arrow-guide{
        display:block;
        background-color:#eee;
        text-align: center;
    }
    
}
