:host{
    mat-card{
        padding:9px 4px 9px 8px;
        // height:78px;
        // align-items: center;
            .item-container{
                line-height: 44px;  
                text-align: left;
                width:100%;
                .item-logo{
                    width:12%;
                    height: 44px;
                    display:inline-block;
                    vertical-align: middle;
                    float: left;
                    company-logo{
                        width:40px;
                        height:40px;
                    }
                }
                .item-name{
                    display:inline-block;
                    vertical-align: middle;
                    width:25%;
                    height: 44px;
                    line-height:44px;
                    overflow: hidden;
                    text-align: center;
                    span{
                        // font-size:12px;
                        margin-top:-2px;
                        display:inline-block;
                        // height: 18px;
                        // line-height: 18px;
                        color:gray;
                        
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap; 
                    }
                }
                .item-price{
                    display:inline-block;
                    vertical-align: middle;
                    width:25%;
                    height: 44px;
                    line-height:44px;
                    overflow: hidden;
                    text-align: right;
                    span{
                        // font-size:12px;
                        margin-top:-2px;
                        display:inline-block;
                        // height: 18px;
                        // line-height: 18px;
                        color:gray;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap; 
                    }
                }
                
            }
       
       
        
    }
}

